<template>
<div>
    <a href="javascript:void(0);" class="btn btn-link" @click="addRow()"> Agregar fila</a>
    <div class="alert alert-danger" v-if="article_error">
        {{article_error}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre articulo</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(article, index) in articles" :key="article.id">
                <td>
                    <input type="text" :name="'articles['+index+'][key]'" @keyup.enter="searchProd(article)" v-model="article.key">
                </td>
                <td>
                    {{article.name}}
                </td>
                <td>
                    <input type="text" :name="'articles['+index+'][qty]'" @keyup.enter="searchProd" v-model="article.qty" v-if="article.id">
                    <input type="hidden" :name="'articles['+index+'][id]'" v-model="article.id">

                    <button type="button" class="btn btn-link" @click="removeRow(article)">&times;</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <button type="button" class="btn btn-default" @click="createEntry">Guardar</button>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                article_error: false,
                articles: [
                    {
                        id: false,
                        key: '',
                        name: '',
                        qty: '',
                    }
                ]
            };
        },
        methods: {
            searchProd (article) {
                this.article_error = false;
                this.$http.get('/home/api/articles/'+article.key)
                .then(function (response){
                    article.id = response.data.article.id;
                    article.name = response.data.article.name;
                },function (error){
                    this.article_error = error.data.message
                });
            },
            addRow () {
                this.articles.push({
                    id: false,
                    key: '',
                    name: '',
                    qty: '',
                });
            },
            removeRow (article) {
                var index = this.articles.indexOf(article);
                this.articles.splice(index, 1);
            },
            createEntry () {
                $('.form')[0].submit();
            },
        }
    }
</script>
