<template>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Cancelar nota <p class="text-info" v-if="message"> -- {{message}}</p></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="folio">Folio *</label>
                    <input type="text" class="form-control" id="folio" v-model="folio" @keyup.enter="getSaleByFolio">
                    <p class="text-danger" v-if="error">{{error}}</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="getSaleByFolio">Buscar</button>
                </div>

                <div v-if="sale">
                    <hr>
                    <p><strong>Folio:</strong> {{ sale.folio }}</p>
                    <p><strong>Fecha y hora:</strong> {{sale.created_at}}</p>
                    <p><strong>Cliente:</strong> {{ sale.customer.name }}</p>
                    <p><strong>Barbero:</strong> {{ sale.employee.short_name }}</p>
                    <p><strong>Total:</strong> $ {{ sale.total }}</p>

                    <h4>Verifica tu identidad para poder cancelar.</h4>
                     <p class="text-danger" v-if="auth_error">{{auth_error}}</p>
                    <div class="form-group">
                        <label for="auth-code">Clave empleado *</label>
                        <input type="text" class="form-control" id="auth-code" v-model="code">
                    </div>
                    <div class="form-group">
                        <label for="auth-password">Contraseña *</label>
                        <input type="password" class="form-control" id="auth-password" v-model="password">
                    </div>
                    <div class="form-group">
                        <label for="auth-password">Motivo de cancelacion *</label>
                        <input type="text" class="form-control" id="canceled_description" v-model="canceled_description">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @click="cancelSale">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                error: false,
                auth_error: false,
                message: false,
                folio: '',
                code: '',
                password: '',
                sale: false
            }
        },
        methods: {
            getSaleByFolio () {
                this.error = false;
                this.message = false;
                this.sale = false;
                this.$http.get('/home/sales/'+this.folio+'/search')
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                },function (error){
                    this.error = error.data.message
                });
            },
            cancelSale () {
                this.error = false;
                this.message = false;
                this.auth_error = false;
                var data = {
                    code: this.code,
                    password: this.password
                };

                if(!this.canceled_description) {
                    return this.error = "Debe escribir el motivo de cancelación";
                }

                var sale_id = this.sale.id;
                this.$http.delete('/home/sales/'+this.sale.folio, {body: data})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = false;
                    this.code = '';
                    this.password = '';
                    this.folio = '';
                    var self = this;

                    setTimeout(function () {
                        self.message = false;
                    }, 3000);
                    window.open('/home/sales/'+sale_id+'/print');
                },function (error){
                    this.auth_error = error.data.message
                });
            }
        }
    }
</script>
