<template>
<div>
    <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        <span>Corte Caja</span>
    </a>
        <div class="modal fade" id="modal-charge-cut" tabindex="-1" role="dialog" aria-labelledby="modal-charge-cutLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-charge-cutLabel">Cierre y corte de caja. </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" v-if="error">
                        {{error}}
                        </div>
                        <div class="row">
                            <label for="" class="label-control col-md-2">Clave empleado: </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" v-model="auth.code" tabindex="13">
                            </div>
                            <label for="" class="label-control col-md-2">Contraseña de empleado: </label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" v-model="auth.password" tabindex="14">
                            </div>
                        </div>
                        <div class="row">
                            <label for="" class="label-control col-md-2">Total: </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" readonly="readonly" v-model="cash_register_movement.total">
                            </div>
                            <label for="" class="label-control col-md-2">Total en caja: </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" readonly="readonly" v-model="cash_register_cashier_movement.total">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="margin-bottom: 10px; margin-top: 10px;">
                                    <b>Efectivo en total:</b> {{cash_total}}, 
                                    <b>Minicortes:</b> {{minicuts_total}}, 
                                    <b>Efectivo en caja:</b> {{cash_total - minicuts_total}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset>
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="text-align:center;">DINERO DEL CORTE</th>
                                        </tr>
                                        <tr>
                                            <th>Moneda Nacional</th>
                                            <th>Cantidad</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>$ .50</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.fiftycents" tabindex="1"></td>
                                        <td>{{cash_register_movement.fiftycents * .50}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 1</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.onepeso" tabindex="2"></td>
                                        <td>{{cash_register_movement.onepeso * 1}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 2</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.twopesos" tabindex="3"></td>
                                        <td>{{cash_register_movement.twopesos * 2}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 5</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.fivepesos" tabindex="4"></td>
                                        <td>{{cash_register_movement.fivepesos * 5}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 10</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.tenpesos" tabindex="5"></td>
                                        <td>{{cash_register_movement.tenpesos * 10}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 20</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.twentypesos" tabindex="6"></td>
                                        <td>{{cash_register_movement.twentypesos * 20}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 50</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.fiftypesos" tabindex="7"></td>
                                        <td>{{cash_register_movement.fiftypesos * 50}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 100</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.hundredpesos" tabindex="8"></td>
                                        <td>{{cash_register_movement.hundredpesos * 100}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 200</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.twohundredpesos" tabindex="9"></td>
                                        <td>{{cash_register_movement.twohundredpesos * 200}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 500</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.fivehundredpesos" tabindex="10"></td>
                                        <td>{{cash_register_movement.fivehundredpesos * 500}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 1000</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.onethousandpesos" tabindex="11"></td>
                                        <td>{{cash_register_movement.onethousandpesos * 1000}}</td>
                                    </tr>
                                    <tr>
                                        <th>USD 1 = {{exchange_rate}} mxn</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotal" class="form-control" v-model="cash_register_movement.usd" tabindex="12"></td>
                                        <td>{{cash_register_movement.usd * exchange_rate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="text-align:center;">DINERO QUE SE QUEDA EN CAJA (SIGUIENTE TURNO)</th>
                                        </tr>
                                        <tr>
                                            <th>Moneda Nacional</th>
                                            <th>Cantidad</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>$ .50</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.fiftycents" tabindex="1"></td>
                                        <td>{{cash_register_cashier_movement.fiftycents * .50}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 1</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.onepeso" tabindex="2"></td>
                                        <td>{{cash_register_cashier_movement.onepeso * 1}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 2</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.twopesos" tabindex="3"></td>
                                        <td>{{cash_register_cashier_movement.twopesos * 2}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 5</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.fivepesos" tabindex="4"></td>
                                        <td>{{cash_register_cashier_movement.fivepesos * 5}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 10</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.tenpesos" tabindex="5"></td>
                                        <td>{{cash_register_cashier_movement.tenpesos * 10}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 20</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.twentypesos" tabindex="6"></td>
                                        <td>{{cash_register_cashier_movement.twentypesos * 20}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 50</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.fiftypesos" tabindex="7"></td>
                                        <td>{{cash_register_cashier_movement.fiftypesos * 50}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 100</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.hundredpesos" tabindex="8"></td>
                                        <td>{{cash_register_cashier_movement.hundredpesos * 100}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 200</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.twohundredpesos" tabindex="9"></td>
                                        <td>{{cash_register_cashier_movement.twohundredpesos * 200}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 500</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.fivehundredpesos" tabindex="10"></td>
                                        <td>{{cash_register_cashier_movement.fivehundredpesos * 500}}</td>
                                    </tr>
                                    <tr>
                                        <th>$ 1000</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.onethousandpesos" tabindex="11"></td>
                                        <td>{{cash_register_cashier_movement.onethousandpesos * 1000}}</td>
                                    </tr>
                                    <tr>
                                        <th>USD 1 = {{exchange_rate}} mxn</th>
                                        <td><input type="number" min="0" step="any" @change="updateTotalCashier" class="form-control" v-model="cash_register_cashier_movement.usd" tabindex="12"></td>
                                        <td>{{cash_register_cashier_movement.usd * exchange_rate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-md-offset-10">
                                <button type="button" class="btn btn-success" @click="closeCash" :disabled="printing">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate'],
        data() {
            return {
                error: '',
                cash_total: 0,
                minicuts_total: 0,
                printing: false,
                cash_register_movement: {
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    usd: 0,
                    total: 0,
                },
                cash_register_cashier_movement: {
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    usd: 0,
                    total: 0,
                },
                auth: {
                    code: '',
                    password: ''
                }
            }
        },
        mounted: function () {
        },
        methods: {
            openModal () {
              $('#modal-charge-cut').modal('show');
              let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
                    'Content-type': 'application/json'
                };
              this.$http.post('/home/cash-register/currentAmount', this.cash_register, {headers})
                .then(function (response) {
                    this.cash_total = response.data.cash_total;
                    this.minicuts_total = response.data.minicuts_total;
                },function (error) {
                    console.log(error);
                });
            },
            closeCash () {
                this.error = '';
                var data = {
                    cash_register_movement: this.cash_register_movement,
                    cash_register_cashier_movement: this.cash_register_cashier_movement,
                    auth: this.auth,
                    exchange_rate: this.exchange_rate
                };
                this.printing = true;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/cash-register-delete/'+this.cash_register.id, data, {headers})
                .then(function (response) {
                    
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                    window.open(response.data.ticket_url)
                    $('#modal-charge-cut').modal('hide');
                    setTimeout(function () { 
                        window.location.reload();
                    }, 500);
                    //this.$dispatch('updateCashRegister', response.data.cash_register);
                    this.printing = false;
                },function (error){
                    this.error = error.data.message;
                    this.printing = false;
                });
            },
            updateTotal () {
                var total = 0;
                total += parseInt(this.cash_register_movement.fiftycents) * .50;
                total += parseInt(this.cash_register_movement.onepeso) * 1;
                total += parseInt(this.cash_register_movement.twopesos) * 2;
                total += parseInt(this.cash_register_movement.fivepesos) * 5;
                total += parseInt(this.cash_register_movement.tenpesos) * 10;
                total += parseInt(this.cash_register_movement.twentypesos) * 20;
                total += parseInt(this.cash_register_movement.fiftypesos) * 50;
                total += parseInt(this.cash_register_movement.hundredpesos) * 100;
                total += parseInt(this.cash_register_movement.twohundredpesos) * 200;
                total += parseInt(this.cash_register_movement.fivehundredpesos) * 500;
                total += parseInt(this.cash_register_movement.onethousandpesos) * 1000;
                total += parseInt(this.cash_register_movement.usd) * parseInt(this.exchange_rate);
                this.cash_register_movement.total = total;
            },
            updateTotalCashier () {
                var total = 0;
                total += parseInt(this.cash_register_cashier_movement.fiftycents) * .50;
                total += parseInt(this.cash_register_cashier_movement.onepeso) * 1;
                total += parseInt(this.cash_register_cashier_movement.twopesos) * 2;
                total += parseInt(this.cash_register_cashier_movement.fivepesos) * 5;
                total += parseInt(this.cash_register_cashier_movement.tenpesos) * 10;
                total += parseInt(this.cash_register_cashier_movement.twentypesos) * 20;
                total += parseInt(this.cash_register_cashier_movement.fiftypesos) * 50;
                total += parseInt(this.cash_register_cashier_movement.hundredpesos) * 100;
                total += parseInt(this.cash_register_cashier_movement.twohundredpesos) * 200;
                total += parseInt(this.cash_register_cashier_movement.fivehundredpesos) * 500;
                total += parseInt(this.cash_register_cashier_movement.onethousandpesos) * 1000;
                total += parseInt(this.cash_register_cashier_movement.usd) * parseInt(this.exchange_rate);
                this.cash_register_cashier_movement.total = total;
            },
        }
    }
</script>
