<template>
<div>
    <a href="javascript:void(0);" class="btn btn-link" @click="addRow()"> Agregar fila</a>
    <div class="alert alert-danger" v-if="product_error">
        {{product_error}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre producto</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in products" :key="product.key">
                <td>
                    <input type="text" :name="'products['+index+'][key]'" @keyup.enter="searchProd(product)" v-model="product.key">
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    <input type="text" :name="'products['+index+'][qty]'" @keyup.enter="searchProd" v-model="product.qty" v-if="product.id">
                    <input type="hidden" :name="'products['+index+'][id]'" v-model="product.id">

                    <button type="button" class="btn btn-link" @click="removeRow(product)">&times;</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <button type="button" class="btn btn-default" @click="createDeparture">Guardar</button>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                product_error: false,
                products: [
                    {
                        id: false,
                        key: '',
                        name: '',
                        qty: '',
                    }
                ]
            };
        },
        methods: {
            searchProd (product) {
                this.product_error = false;
                this.$http.get('/home/api/products/'+product.key)
                .then(function (response){
                    product.id = response.data.product.id;
                    product.name = response.data.product.name;
                },function (error){
                    this.product_error = error.data.message
                });
            },
            addRow () {
                this.products.push({
                    id: false,
                    key: '',
                    name: '',
                    qty: '',
                });
            },
            removeRow (product) {
                var index = this.products.indexOf(product);
                this.products.splice(index, 1);
            },
            createDeparture () {
                $('.form')[0].submit();
            },
        }
    }
</script>
