<template>
    <div class="container">
        <div v-if="!cash_register.close" class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading" :class="asset_panel">Reimprimir movimientos de caja</div>
                    <div class="panel-body">
                        <div v-if="cash_register.movements">
                            <div class="form-group">
                                <select v-model="movement_id" class="form-control">
                                    <option value="">Selecciona uno por favor...</option>
                                    <option v-for="(movement, index) in cash_register.movements" :value="movement.id" :key="movement.id">
                                        ({{movement.type}} {{index}}) $ {{movement.total}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default btn-sm" @click="printCashCut">Imprimir</button>
                                <a :href="'/home/cash-register-movements/resume/' + cash_register.id" target="_blank" class="btn btn-primary btn-sm">Resumen</a>
                                <cash-cut
                                    :cash_register="cash_register"
                                    :exchange_rate="exchange_rate"
                                ></cash-cut>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-footer" :class="asset_panel" v-if="cash_register.total >= 1000">
                        <mini-cut
                            :cash_register="cash_register"
                            :exchange_rate="exchange_rate"
                            :minicut="minicut"
                        ></mini-cut>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Servicios terminados <small>Cantidad total</small></div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ finished_sales_count }}</h2>
                    </div>
                </div>

                <alert-diary></alert-diary>
            </div>
            <cancel-sale v-if="user.access_subsidiary_id == null"></cancel-sale>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Re-imprimir notas del turno</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select v-model="sale_print_id" class="form-control">
                                <option value="">Selecciona uno por favor...</option>
                                <template v-for="sale in sales_own">
                                    <option :value="sale.id" v-if="!sale.canceled_by" :key="sale.id">
                                        ({{sale.subsidiary.key}} - {{sale.folio}}) ${{sale.total}}
                                        <template v-if='cash_register.id != sale.cash_register_id'>(${{ total_by_payments(sale)}} en caja)</template>
                                    </option> 
                                    <option  :value="sale.id" v-if="sale.canceled_by" :key="sale.id">
                                        ({{sale.subsidiary.key}} - {{sale.folio}}) ${{sale.total}} C
                                    </option>  
                                </template>
                                <!--<option v-for="sale in sales_own" :value="sale.id">
                                    ({{sale.subsidiary.key}} - {{sale.folio}}) $ {{sale.total}} 
                                    <b v-if="sale.canceled_by">C</b>
                                </option>-->
                                <template v-for="laundry_service in laundry_services">
                                    <option :value="laundry_service.id" v-if="!laundry_service.canceled_by" :key="laundry_service.id">
                                        ({{laundry_service.customer_subsidiary.name}} - {{laundry_service.folio}}) $ {{laundry_service.amount}}
                                    </option> 
                                    <option :value="laundry_service.id" v-if="laundry_service.canceled_by" :key="laundry_service.id">
                                        ({{laundry_service.customer_subsidiary.name}} - {{laundry_service.folio}}) $ {{laundry_service.amount}} C
                                    </option>  
                                </template>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" @click="printSale">Imprimir</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Cajas de lavandería<small> {{message}}</small></div>

                    <div class="panel-body">
                        <slot></slot>
                        <div class="alert alert-info" v-if="error">
                            {{error}}
                        </div>

                        <div v-if="cash_register.close" class="row">
                            <fieldset>
                                <div class="col-md-6">
                                    <table class="table">
                                        <tr>
                                            <th>Moneda Nacional</th>
                                            <th>Cantidad</th>
                                            <th>Importe</th>
                                        </tr>
                                        <tr>
                                            <th>$ .50</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.fiftycents" tabindex="1"></td>
                                            <td>{{cash_register.fiftycents * .50}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 1</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.onepeso" tabindex="2"></td>
                                            <td>{{cash_register.onepeso * 1}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 2</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.twopesos" tabindex="3"></td>
                                            <td>{{cash_register.twopesos * 2}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 5</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.fivepesos" tabindex="4"></td>
                                            <td>{{cash_register.fivepesos * 5}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 10</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.tenpesos" tabindex="5"></td>
                                            <td>{{cash_register.tenpesos * 10}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 20</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.twentypesos" tabindex="6"></td>
                                            <td>{{cash_register.twentypesos * 20}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 50</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.fiftypesos" tabindex="7"></td>
                                            <td>{{cash_register.fiftypesos * 50}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 100</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.hundredpesos" tabindex="8"></td>
                                            <td>{{cash_register.hundredpesos * 100}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 200</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.twohundredpesos" tabindex="9"></td>
                                            <td>{{cash_register.twohundredpesos * 200}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 500</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.fivehundredpesos" tabindex="10"></td>
                                            <td>{{cash_register.fivehundredpesos * 500}}</td>
                                        </tr>
                                        <tr>
                                            <th>$ 1000</th>
                                            <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register.onethousandpesos" tabindex="11"></td>
                                            <td>{{cash_register.onethousandpesos * 1000}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="label-control col-md-4">Turno: </label>
                                        <div class="col-md-8">
                                            <select class="form-control" v-model="cash_register.turn_id">
                                                <option v-for="turn in turns" :value="turn.id" :key="turn">{{turn.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="label-control col-md-4">Clave empleado: </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" v-model="cash_register.code" tabindex="12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="label-control col-md-4">Contraseña de empleado: </label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control" v-model="cash_register.password" tabindex="13">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="label-control col-md-4">Total: </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" readonly="readonly" v-model="cash_register.total">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="label-control col-md-4">Fondo fijo: </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" readonly="readonly" :value="imprest">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" class="btn btn-default" @click="openCash">Abrir</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div v-if="!cash_register.close" class="row">
                            <div class="col-md-12" v-if="not_finished_sales != null && not_finished_sales.length > 0">
                                <h5>Servicios pendientes</h5>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Hora</th>
                                            <th>Cliente</th>
                                            <th>Lavador</th>
                                            <th>Servicios</th>
                                            <th>Productos</th>
                                            <th>Paquetes</th>
                                            <th>$ Total</th>
                                            <th>Estatus</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="(sale, index) in orderedNotFinishedSales" :key="sale.id">
                                            <td>{{index + 1 }}</td>
                                            <td>{{getHour(sale.created_at)}}</td>
                                            <td>
                                                <span v-if="sale.customer_subsidiary_id != null">{{sale.customer_subsidiary.name}}</span>
                                                <span v-if="sale.customer != null">y{{sale.customer.name}}</span>
                                                <span v-if="sale.customer == null">{{sale.comments}}</span>
                                            </td>
                                            <td>
                                                <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                                                <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                                            </td>
                                            <td>{{totalServices(sale.services)}}</td>
                                            <td>{{totalProducts(sale.products)}}</td>
                                            <td>{{totalPackages(sale.packages)}}</td>
                                            <td>$ {{total(sale)}}</td>
                                            <td>
                                                <span v-if="sale.status == 'en espera'" class="label label-warning">{{sale.status | uppercase}}</span>
                                                <span v-if="sale.status == 'atendiendo'" class="label label-success">{{sale.status | uppercase}}</span>
                                                <span v-if="sale.status == 'finalizado'" class="label label-danger">{{sale.status | uppercase}}</span>
                                                <br/>
                                                <span v-if="getPaymentsTotal(sale) == 0" class="label label-warning">SIN PAGAR</span>
                                                <span v-if="getPaymentsTotal(sale) > 0 && getPaymentsTotal(sale) < total(sale)" class="label label-success">CON ANTICIPO</span>
                                                <span v-if="getPaymentsTotal(sale) >= total(sale)" class="label label-danger">PAGADO</span>
                                            </td>
                                            <td>
                                                <template v-if="hasAdvance">
                                                    <a title="Imprimir anticipo" :href="'/home/sales/'+sale.id+'/printAdvance'" data-toggle="tooltip" data-placement="top">
                                                        <i class="fa fa-print fa-2x"></i>
                                                    </a>
                                                </template>
                                                    &nbsp;
                                                    &nbsp;
                                                <pay-advance-laundry 
                                                    :sale="sale"
                                                    :exchange_rate_id="exchange_rate_id"
                                                    :exchange_rate="exchange_rate"
                                                    :barbers="barbers"
                                                ></pay-advance-laundry>
                                                    &nbsp;
                                                    &nbsp;
                                                <add-laundry-product-service 
                                                    :sale="sale"
                                                    :services="services"
                                                    :products="products"
                                                    :packages="packages"
                                                ></add-laundry-product-service>
                                                    &nbsp;
                                                    &nbsp;
                                                <sale-detail-laundry 
                                                    :sale="sale"
                                                    :exchange_rate_id="exchange_rate_id"
                                                    :exchange_rate="exchange_rate"
                                                    :barbers="barbers"
                                                ></sale-detail-laundry>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <h5>Servicios activos</h5>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Hora</th>
                                            <th>Cliente</th>
                                            <th>Lavador</th>
                                            <th>Servicios</th>
                                            <th>Productos</th>
                                            <th>Paquetes</th>
                                            <th>$ Total</th>
                                            <th>Estatus</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="(sale, index) in orderedSales" :key="sale.id">
                                            <td>{{index + 1 }}</td>
                                            <td>{{getHour(sale.created_at)}}</td>
                                            <td>
                                                <span v-if="sale.customer_subsidiary_id != null">{{sale.customer_subsidiary.name}}</span>
                                                <span v-if="sale.customer != null">y{{sale.customer.name}}</span>
                                                <span v-if="sale.customer == null">{{sale.comments}}</span>
                                            </td>
                                            <td>
                                                <span v-if="sale.employee">{{sale.employee.short_name}}</span>
                                                <span v-if="sale.employee2"><br/>{{sale.employee2.short_name}}</span>
                                            </td>
                                            <td>{{totalServices(sale.services)}}</td>
                                            <td>{{totalProducts(sale.products)}}</td>
                                            <td>{{totalPackages(sale.packages)}}</td>
                                            <td>$ {{total(sale)}}</td>
                                            <td>
                                                <span v-if="sale.status == 'en espera'" class="label label-warning">{{sale.status | uppercase}}</span>
                                                <span v-if="sale.status == 'atendiendo'" class="label label-success">{{sale.status | uppercase}}</span>
                                                <span v-if="sale.status == 'finalizado'" class="label label-danger">{{sale.status | uppercase}}</span>
                                                <br/>
                                                <span v-if="getPaymentsTotal(sale) == 0" class="label label-warning">SIN PAGAR</span>
                                                <span v-if="getPaymentsTotal(sale) > 0 && getPaymentsTotal(sale) < total(sale)" class="label label-success">CON ANTICIPO</span>
                                                <span v-if="getPaymentsTotal(sale) >= total(sale)" class="label label-danger">PAGADO</span>
                                            </td>
                                            <td>
                                                <template v-if="hasAdvance">
                                                    <a title="Imprimir anticipo" :href="'/home/sales/'+sale.id+'/printAdvance'" data-toggle="tooltip" data-placement="top">
                                                        <i class="fa fa-print fa-2x"></i>
                                                    </a>
                                                </template>
                                                    &nbsp;
                                                    &nbsp;
                                                <pay-advance-laundry 
                                                    :sale="sale"
                                                    :exchange_rate_id="exchange_rate_id"
                                                    :exchange_rate="exchange_rate"
                                                    :barbers="barbers"
                                                    ></pay-advance-laundry>
                                                    &nbsp;
                                                    &nbsp;
                                                <add-laundry-product-service 
                                                    :sale="sale"
                                                    :services="services"
                                                    :products="products"
                                                    :packages="packages"
                                                ></add-laundry-product-service>
                                                    &nbsp;
                                                    &nbsp;
                                                <sale-detail-laundry 
                                                    :sale="sale"
                                                    :exchange_rate_id="exchange_rate_id"
                                                    :exchange_rate="exchange_rate"
                                                    :barbers="barbers"
                                                    ></sale-detail-laundry>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['imprest', 'services', 'products', 'minicut','exchange_rate_id', 'exchange_rate', 'turns', 'barbers', 'sales_own', 'subsidiary', 'laundry_services', 'cuts', 'user', 'packages'],
        data() {
            return {
                error: false,
                message: '',
                cash_register: {
                    close: true,
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    total: 0,
                    turn_id: 1,
                    code: '',
                    password: ''
                },
                sales: [],
                not_finished_sales: [],
                finished_sales_count: 0,
                finished_sales_total: 0,
                sale_print_id: '',
                movement_id: '',
                minicut: ''
            };
        },
        created: function () {
            this.$eventHub.$on('updateSale', this.updateSale);
            this.$eventHub.$on('updateNotFinishedSale', this.updateNotFinishedSale);
            this.$eventHub.$on('updateProducts', this.updateProducts);
            this.$eventHub.$on('updateCashRegister', this.updateCashRegister);
            this.$eventHub.$on('updateBarbers', this.updateBarbers);
        },
        mounted: function () {
            this.subsidiary = JSON.parse(this.subsidiary);
            this.user = JSON.parse(this.user);
            this.getOpenCashRegister();
            this.getCurrentSales();
        },
        computed: {
            asset_panel () {
                return this.cash_register.total >= 1000 ? 'danger-animation' : '';
            },
            orderedSales: function () {
                return _.orderBy(this.sales, 'order');
            },
            orderedNotFinishedSales: function () {
                return _.orderBy(this.not_finished_sales, 'order');
            }
        },
        methods: {
            updateNotFinishedSale: function (sale) {
                for (var i = 0; i < this.not_finished_sales.length; i++) {
                    if(this.not_finished_sales[i].id == sale.id){
                        this.not_finished_sales.remove;
                        this.not_finished_sales.splice(i, 1);
                        this.not_finished_sales.push(sale);
                    }
                }
            },
            updateSale: function (sale) {
                for (var i = 0; i < this.sales.length; i++) {
                    if(this.sales[i].id == sale.id){
                        this.sales.remove
                        this.sales.splice(i, 1);
                        this.sales.push(sale);
                    }
                }
            },
            updateProducts: function (products) {
                this.products = products;
            },
            updateCashRegister: function (cash_register) {
                this.cash_register = cash_register;
            },
            updateBarbers: function (barbers) {
                this.barbers = barbers;
            },
            wash_quantity (sale) {
                var total = 0;
                for (var i = 0; i < sale.services.length; i++) {
                    if(sale.services[i].service_id == 23){
                        total += sale.services[i].qty;
                    }
                }
                var packageServices = null;
                for (var i = 0; i < sale.packages.length; i++) {
                    packageServices = sale.packages[i].package.package_services;
                    for (var i2 = 0; i2 < packageServices.length; i2++) {
                        if(packageServices[i2].service_id == 23) {
                            total += packageServices.length * packageServices[i2].quantity;
                        }
                    }
                }
                return total;
            },
            total_services (sale) {
                var total = 0;
                var wash_quantity = this.wash_quantity(sale);
                for (var i = 0; i < sale.services.length; i++) {
                    if(sale.services[i].service_id == 23 && wash_quantity <= 5) {
                        total += (sale.services[i].price * 5);
                    } else {
                        total += (sale.services[i].qty * sale.services[i].price);
                    }
                }
                return total;
            },
            total_products (sale) {
                var total = 0;
                for (var i = 0; i < sale.products.length; i++) {
                    total += (sale.products[i].qty * sale.products[i].price);
                }
                return total
            },
            total_packages (sale) {
                var total = 0;
                for (var i = 0; i < sale.packages.length; i++) {
                    total += (sale.packages[i].quantity * sale.packages[i].price);
                }
                return total
            },
            total (sale) {
                var total = this.total_services(sale) + this.total_products(sale) + this.total_packages(sale);
                return Number(total);
            },
            total_by_payments (sale) {
                var total = 0;
                for (var i = 0; i < sale.payments.length; i++) {
                    if (sale.payments[i].cash_register_id != sale.cash_register_id) {
                        total += parseFloat(sale.payments[i].total);
                    }
                }
                if(sale.finished_cash_register_id != null && sale.finished_cash_register_id == this.cash_register.id) {
                    total -= sale.money_change;
                }
                return total;
            },
            getOpenCashRegister () {
                this.error = false;
                this.message = false;
                this.$http.get('/home/cash-register')
                .then(function (response){
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                },function (error){
                    this.message = error.data.message
                });
            },
            hasAdvance () {
                if(this.sale.payments.length > 0) {
                    return true;
                }
                return false;
            },
            openCash () {
                this.message = '';
                this.error = false;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/cash-register', this.cash_register, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                    window.open(response.data.ticket_url)
                },function (error){
                    this.error = error.data.message
                });
            },
            updateTotal () {
                var total = 0;
                total += parseInt(this.cash_register.fiftycents) * .50;
                total += parseInt(this.cash_register.onepeso) * 1;
                total += parseInt(this.cash_register.twopesos) * 2;
                total += parseInt(this.cash_register.fivepesos) * 5;
                total += parseInt(this.cash_register.tenpesos) * 10;
                total += parseInt(this.cash_register.twentypesos) * 20;
                total += parseInt(this.cash_register.fiftypesos) * 50;
                total += parseInt(this.cash_register.hundredpesos) * 100;
                total += parseInt(this.cash_register.twohundredpesos) * 200;
                total += parseInt(this.cash_register.fivehundredpesos) * 500;
                total += parseInt(this.cash_register.onethousandpesos) * 1000;
                this.cash_register.total = total;
            },
            getCurrentSales () {
                this.error = false;
                this.message = false;
                this.$http.get('/home/sales')
                .then(function (response){
                    this.sales = response.data.sales;
                    this.finished_sales_count = response.data.finished_sales_count;
                    this.finished_sales_total = response.data.finished_sales_total;
                    this.not_finished_sales = response.data.not_finished_sales;
                },function (error){
                    this.error = error.data.message
                });
            },
            totalServices (services) {
                var count = 0;
                for (var i = 0; i < services.length; i++) {
                    count += services[i].qty;
                }
                return count;
            },
            totalProducts (products) {
                var count = 0;
                for (var i = 0; i < products.length; i++) {
                    count += products[i].qty;
                }
                return count;
            },
            totalPackages (packages) {
                var count = 0;
                for (var i = 0; i < packages.length; i++) {
                    count += packages[i].quantity;
                }
                return count;
            },
            getPaymentsTotal(sale) {
                var total = 0;
                for (var i = 0; i < sale.payments.length; i++) {
                    total += parseFloat(sale.payments[i].total);
                }
                return total;
            },
            printSale () {
                if(this.sale_print_id == ''){
                    return false;
                }
                window.open("/home/sales/"+this.sale_print_id+"/print");
                
            },
            getHour (created_at) {
                var date = new Date(created_at);
                var hour = date.getHours() <= 12 ? date.getHours() : date.getHours() - 12;
                var at = date.getHours() <= 12 ? ' am' : ' pm';
                return hour+':'+date.getMinutes()+at;
            },
            printCashCut () {
                if(this.movement_id == '') {
                    return false;
                }
                window.open("/home/cash-register-movements/"+this.movement_id);
            }
        }
    }
</script>