<template>
    <div class="container" style="width:100%;">
        <div class="alert alert-info" v-if="message">
              {{message}}
            </div>
        <div class="row" style="padding: 10px 0px;">
            <div class="col-md-4">
                <h4>Precios por sucursal</h4>    
            </div>
            <div class="col-md-6" style="margin-top: 5px;">
                <select name="subsidiary" id="subsidiary" class="select2 form-control" style="width:100%;">
                    <template v-for="subsidiary in subsidiaries">
                        <option :value="subsidiary.id" :key="subsidiary.id">{{ subsidiary.name }}</option>
                    </template>
                </select>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-success" @click="addSubsidiaryPrice()" value="Añadir"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="contentTable">
                    <tbody>
                        <tr>
                            <th>Sucursal</th>
                            <th>Precio</th>
                            <th>Opciones</th>
                        </tr>
                        <tr v-for="(subsidiary_price, index) in subsidiary_prices" :key="index">
                            <td>
                                {{subsidiary_price.subsidiary.name}}
                            </td>
                            <td>
                                <input class='form-control' type='number' step=".01" v-model="subsidiary_price.price"/>
                            </td>
                            <td><button class='btn btn-danger' @click="removeSubsidiaryPrice(index, subsidiary_price.subsidiary_id)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-default" @click="updateSubsidiaryPrices">Guardar</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['subsidiaries', 'current_product'],
        data() {
            return {
                sale_error: false,
                message: '',
                subsidiary_prices: [],
            }
        },
        mounted: function () {
            this.subsidiary_prices = this.current_product.subsidiary_prices;

            for (var i = 0; i < this.subsidiary_prices.length; i++) {
                $("#subsidiary option[value='" + this.subsidiary_prices[i].subsidiary_id + "']").attr('disabled','disabled');
            }
            // $('#subsidiary').select2();
        },
        methods: {
            addSubsidiaryPrice () {
                if($("#subsidiary").val() != null) {

                    var subsidiary = {
                        id: $("#subsidiary").val(),
                        name: $("#subsidiary option:selected").text(),
                    };

                    this.subsidiary_prices.push({
                        product_id : this.current_product.id,
                        subsidiary_id : $("#subsidiary").val(),
                        subsidiary: subsidiary,
                        price: this.current_product.sell_price,
                    });

                    $('#subsidiary option:selected').attr('disabled','disabled');
                    $("#subsidiary").val("");
                    $('#subsidiary').select2();
                }
            },
            removeSubsidiaryPrice(index, subsidiary_id) {
                this.subsidiary_prices.splice(index, 1);
                $('#subsidiary option[value="' + subsidiary_id + '"]').removeAttr('disabled');
                $('#subsidiary').select2();
            },  
            updateSubsidiaryPrices() {
                this.sale_error = false;
                var data = {
                    product_id: this.current_product.id,
                    subsidiary_prices: this.subsidiary_prices
                }

                this.$http.post('/home/products/updateSubsidiaryPrices', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(function (response){
                    this.message = response.data.message;
                },function (error){
                    this.message = JSON.stringify(error);
                    this.sale_error = error.data.error;
                });
            }
        }
    }
</script>