<template>
    <div class="container" style="width:100%;">
        <div class="alert alert-info" v-if="message">
              {{message}}
            </div>
        <div class="row" style="padding: 10px 0px;">
            <div class="col-md-4">
                <h4>Precios de productos</h4>    
            </div>
            <div class="col-md-6" style="margin-top: 5px;">
                <select name="product" id="product" class="select2 form-control" style="width:100%;">
                    <template v-for="product in products">
                        <option :value="product.id" :key="product.id">{{ product.name }}</option>
                    </template>
                </select>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default" @click="addPromotionProduct()" value="Añadir"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="contentTable">
                    <tbody>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Opciones</th>
                        </tr>
                        <tr v-for="(promotion_products, index) in promotion_products" :key="promotion_products.id">
                            <td>
                                {{promotion_products.product.name}}
                            </td>
                            <td>
                                <input class='form-control' type='number' step=".01" v-model="promotion_products.price"/>
                            </td>
                            <td><button class='btn btn-danger' @click="removePromotionProduct(index, promotion_products.product.id)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-primary" @click="updatePromotionProducts">Guardar</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['products', 'current_promotion'],
        data() {
            return {
                promotion_error: false,
                message: '',
                promotion_products: null,
            }
        },
        mounted: function () {
            this.promotion_products = this.current_promotion.promotion_products;
            for (var i = 0; i < this.promotion_products.length; i++) {
                $("#product option[value='" + this.promotion_products[i].product.id + "']").attr('disabled','disabled');
            }
            $("#product").val("");
            // $('#product').select2();
        },
        methods: {
            addPromotionProduct () {
                if($("#product").val() != null) {

                    var product_id = $("#product").val();
                    var product = this.getProductPrice(product_id);

                    this.promotion_products.push({
                        promotion_id : this.current_promotion.id,
                        product_id : product_id,
                        product: product,
                        price: product.sell_price,
                        include_in_diaries_discount: 1,
                    });

                    $('#product option:selected').attr('disabled','disabled');
                    $("#product").val("");
                    $('#product').select2();
                }
            },
            getProductPrice(product_id) {
                for (var i = 0; i < this.products.length; i++) {
                    if(this.products[i].id == product_id) {
                        return this.products[i];
                    }
                }
            },
            removePromotionProduct(index, id) {
                this.promotion_products.splice(index, 1);
                $('#product option[value="' + id + '"]').removeAttr('disabled');
                $('#product').select2();
            },  
            updatePromotionProducts() {
                this.promotion_error = false;
                var data = {
                    promotion_id: this.current_promotion.id,
                    promotion_products: this.promotion_products
                }
                
                this.$http.post('/home/promotions/updatePromotionProducts', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(function (response){
                    this.message = response.data.message;
                },function (error) {
                    this.message = JSON.stringify(error);
                    this.promotion_error = error.data.error;
                });
            }
        }
    }
</script>