<template>
    <div class="container" style="width:100%;">
        <div class="alert alert-info" v-if="message">
              {{message}}
            </div>
        <div class="row" style="padding: 10px 0px;">
            <div class="col-md-4">
                <h4>Precios de servicios</h4>
            </div>
            <div class="col-md-6" style="margin-top: 5px;">
                <select name="service" id="service" class="select2 form-control" style="width:100%;">
                    <template v-for="service in services">
                        <option :value="service.id" :key="service.id">{{ service.name }}</option>
                    </template>
                </select>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default" @click="addPromotionService()" value="Añadir"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="contentTable">
                    <tbody>
                        <tr>
                            <th>Servicio</th>
                            <th>Precio</th>
                            <th>Comisión</th>
                            <th>Incluir en descuento por cita?</th>
                            <th>Opciones</th>
                        </tr>
                        <tr v-for="(promotion_service, index) in promotionservices" :key="promotion_service.id">
                            <td>
                                {{promotion_service.service.name}}
                            </td>
                            <td>
                                <input class='form-control' type='number' step=".01" v-model="promotion_service.price"/>
                            </td>
                            <td>
                                <input class='form-control' type='number' v-model="promotion_service.cost"/>
                            </td>
                            <td>
                                <select class="form-control" v-model="promotion_service.include_in_diaries_discount">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </td>
                            <td><button class='btn btn-danger' @click="removePromotionService(index, promotion_service.service.id)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-primary" @click="updatePromotionServices">Guardar</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['services', 'current_promotion'],
        data() {
            return {
                promotion_error: false,
                message: '',
                promotionservices: null,
            }
        },
        mounted: function () {
            this.promotionservices = this.current_promotion.promotionservices;

            this.promotionservices = this.promotionservices.map((promotionService) => {
                const { service: { id, cost } } = promotionService;

                const newCost = !promotionService.cost ? cost : promotionService.cost;

                $(`#service option[value='${id}']`).attr('disabled','disabled');
                return { ...promotionService, cost: newCost };
            });
            $("#service").val("");
            // $('#service').select2();
        },
        methods: {
            addPromotionService () {
                if($("#service").val() != null) {

                    const service_id = $("#service").val();
                    const service = this.getServicePrice(service_id);

                    this.promotionservices.push({
                        promotion_id : this.current_promotion.id,
                        service_id,
                        service,
                        cost: service.cost,
                        price: service.sell_price,
                        include_in_diaries_discount: 1,
                    });

                    $('#service option:selected').attr('disabled','disabled');
                    $("#service").val("");
                    $('#service').select2();
                }
            },
            getServicePrice(service_id) {
                return this.services.find(({ id }) => id == service_id);
            },
            removePromotionService(index, id) {
                this.promotionservices.splice(index, 1);
                $(`#service option[value="${id}"]`).removeAttr('disabled');
                $('#service').select2();
            },
            updatePromotionServices() {
                this.promotion_error = false;
                const data = {
                    promotion_id: this.current_promotion.id,
                    promotion_services: this.promotionservices
                }

                this.$http.post('/home/promotions/updatePromotionServices', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(function (response){
                    this.message = response.data.message;
                },function (error) {
                    this.message = JSON.stringify(error);
                    this.promotion_error = error.data.error;
                });
            }
        }
    }
</script>
