<template>
<div>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        Necesitas hacer tu mini corte. <br> {{minicut}}
    </a>

    <div class="modal fade" id="modal-mini-cut" tabindex="-1" role="dialog" aria-labelledby="modal-mini-cutLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-mini-cutLabel">Mini corte de caja. </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="error">
              {{error}}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Moneda Nacional</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>$ .50</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.fiftycents"></td>
                                <td>{{cash_register_movement.fiftycents * .50}}</td>
                            </tr>
                            <tr>
                                <th>$ 1</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.onepeso"></td>
                                <td>{{cash_register_movement.onepeso * 1}}</td>
                            </tr>
                            <tr>
                                <th>$ 2</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.twopesos"></td>
                                <td>{{cash_register_movement.twopesos * 2}}</td>
                            </tr>
                            <tr>
                                <th>$ 5</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.fivepesos"></td>
                                <td>{{cash_register_movement.fivepesos * 5}}</td>
                            </tr>
                            <tr>
                                <th>$ 10</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.tenpesos"></td>
                                <td>{{cash_register_movement.tenpesos * 10}}</td>
                            </tr>
                            <tr>
                                <th>$ 20</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.twentypesos"></td>
                                <td>{{cash_register_movement.twentypesos * 20}}</td>
                            </tr>
                            <tr>
                                <th>$ 50</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.fiftypesos"></td>
                                <td>{{cash_register_movement.fiftypesos * 50}}</td>
                            </tr>
                            <tr>
                                <th>$ 100</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.hundredpesos"></td>
                                <td>{{cash_register_movement.hundredpesos * 100}}</td>
                            </tr>
                            <tr>
                                <th>$ 200</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.twohundredpesos"></td>
                                <td>{{cash_register_movement.twohundredpesos * 200}}</td>
                            </tr>
                            <tr>
                                <th>$ 500</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.fivehundredpesos"></td>
                                <td>{{cash_register_movement.fivehundredpesos * 500}}</td>
                            </tr>
                            <tr>
                                <th>$ 1000</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.onethousandpesos"></td>
                                <td>{{cash_register_movement.onethousandpesos * 1000}}</td>
                            </tr>
                            <tr>
                                <th>USD 1 = {{exchange_rate}} mxn</th>
                                <td><input type="text" @keyup="updateTotal" class="form-control" v-model="cash_register_movement.usd"></td>
                                <td>{{cash_register_movement.usd * exchange_rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="" class="label-control col-md-4">Clave empleado: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" v-model="auth.code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="label-control col-md-4">Contraseña de empleado: </label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" v-model="auth.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="label-control col-md-4">Total: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" v-model="cash_register_movement.total">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="label-control col-md-4">Total en caja: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" v-model="cash_register.total">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="button" class="btn btn-default" @click="closeCash" :disabled="printing">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['cash_register', 'exchange_rate', 'minicut'],
        data() {
            return {
                printing: false,
                cash_register_movement: {
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    usd: 0,
                    total: 0,
                },
                error: '',
                auth: {
                    code: '',
                    password: ''
                }
            }
        },
        mounted: function () {
        },
        methods: {
            openModal () {
              $('#modal-mini-cut').modal('show');
            },
            closeCash () {
                this.error = '';
                if (this.cash_register.total < this.cash_register_movement.total) {
                    return this.error = 'No puedes retirar mas dinero del que tienes en caja';
                }
                var data = {
                    cash_register_movement: this.cash_register_movement,
                    auth: this.auth,
                    exchange_rate: this.exchange_rate
                }
                this.printing = true;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/cash-register/'+this.cash_register.id, data, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.cash_register = response.data.cash_register;
                    window.open(response.data.ticket_url)
                    $('#modal-mini-cut').modal('hide');
                    this.$eventHub.$emit('updateCashRegister', response.data.cash_register);
                    this.printing = false;
                },function (error) {
                    this.error = error.data.message;
                    this.printing = false;
                });
            },
            updateTotal () {
                var total = 0;
                total += parseInt(this.cash_register_movement.fiftycents) * .50;
                total += parseInt(this.cash_register_movement.onepeso) * 1;
                total += parseInt(this.cash_register_movement.twopesos) * 2;
                total += parseInt(this.cash_register_movement.fivepesos) * 5;
                total += parseInt(this.cash_register_movement.tenpesos) * 10;
                total += parseInt(this.cash_register_movement.twentypesos) * 20;
                total += parseInt(this.cash_register_movement.fiftypesos) * 50;
                total += parseInt(this.cash_register_movement.hundredpesos) * 100;
                total += parseInt(this.cash_register_movement.twohundredpesos) * 200;
                total += parseInt(this.cash_register_movement.fivehundredpesos) * 500;
                total += parseInt(this.cash_register_movement.onethousandpesos) * 1000;
                total += parseInt(this.cash_register_movement.usd) * parseInt(this.exchange_rate);
                this.cash_register_movement.total = total;
            }
        }
    }
</script>
