<template>
<div>
    <p class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
            Agregar monederos para referencia
        </a>
    </p>

    <div class="modal fade" id="modal-add-referral" tabindex="-1" role="dialog" aria-labelledby="modal-add-referralLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-add-referralLabel">Agregar monedero de referencia.</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="alert alert-danger" v-if="error">
                  {{error}}
                </div>

                <div class="form-group">
                    <label for="wallet_number">Nuevo monedero *</label>
                    <input type="text" class="form-control" id="wallet_number" v-model="wallet_number">
                    <p class="help-block">
                        Puedes escribir un solo monedero o un intervalo de monederos separando el principal y el final con un guion medio (-). Ejemplo: 100 o 100-150
                    </p>
                </div>

                <div class="form-group">
                    <input type="button" class="btn btn-primary" @click="createWallet()" value="Guardar">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['current', 'customer_id'],
        data() {
            return {
                wallet_number: '',
            }
        },
        mounted: function () {
        },
        methods: {
            openModal () {
              $('#modal-add-referral').modal('show');
            },
            createWallet () {
                this.error = '';
                if (this.wallet_number == '') {
                    return this.error = 'El monedero es obligatorio.';
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/customers/'+this.customer_id+'/referrals', {
                    wallet_number: this.wallet_number
                }, {headers})
                .then(function (response){
                    window.location.reload();
                },function (error){
                    this.error = error.data.message;
                });
            },
        }
    }
</script>
