<template>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Reparar servicio <p class="text-info" v-if="message"> -- {{message}}</p></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="folio">Folio *</label>
                    <input type="text" class="form-control" id="folio" v-model="folio" @keyup.enter="getSaleByFolio">
                    <p class="text-danger" v-if="error">{{error}}</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="getSaleByFolio">Buscar</button>
                </div>

                <div v-if="sale">
                    <hr>
                    <p><strong>Sucursal:</strong> {{ sale.subsidiary.name }}</p>
                    <p><strong>Folio:</strong> {{ sale.folio }}</p>
                    <p><strong>Fecha y hora:</strong> {{sale.created_at}}</p>
                    <p><strong>Cliente:</strong> {{ sale.customer.name }}</p>
                    <p><strong>Barbero:</strong> {{ sale.employee.short_name }}</p>
                    <p><strong>Total:</strong> $ {{ sale.total }}</p>

                    <div class="form-group">
                        <label for="barber_id">Nuevo barbero</label>
                        <select id="barber_id" v-model="barber_id" class="form-control">
                            <option value="">Seleccione uno por favor...</option>
                            <option v-for="barber in barbers" :value="barber.id" :key="barber">{{barber.short_name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @click="cancelSale">Actualizar barbero</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['barbers'],
        data() {
            return {
                error: false,
                message: false,
                folio: '',
                barber_id: '',
                sale: false
            }
        },
        methods: {
            getSaleByFolio () {
                this.error = false;
                this.message = false;
                this.sale = false;
                this.$http.get('/home/sales/'+this.folio+'/search')
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                },function (error){
                    this.error = error.data.message
                });
            },
            cancelSale () {
                this.error = false;
                this.message = false;
                var sale_id = this.sale.id;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/sales/'+this.sale.id+'/barber', {barber_id: this.barber_id}, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = false;
                    this.folio = '';
                    var self = this;

                    setTimeout(function () {
                        self.message = false;
                    }, 3000);
                    window.open('/home/sales/'+sale_id+'/print');
                },function (error){
                    this.auth_error = error.data.message
                });
            }
        }
    }
</script>
