<template>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Imprimir ticket de salida </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="employee_number">Clave empleado *</label>
                    <input type="text" class="form-control" id="employee_number" v-model="employee_number" @keyup.enter="getTicket">
                    <p class="text-danger" v-if="error">{{error}}</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="getTicket">Buscar</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                error: false,
                employee_number: ''
            }
        },
        methods: {
            getTicket () {
                this.error = false;
                this.$http.get('/home/attendances-employee/'+this.employee_number)
                .then(function (response){
                    setTimeout(function () {
                        self.employee_number = false;
                    }, 3000);
                    window.open(response.data.url);
                },function (error){
                    this.error = error.data.message
                });
            }
        }
    }
</script>
