<template>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Reimprimir cortes del dia <p class="text-info" v-if="message"> -- {{message}}</p></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="movement_id">Corte de caja *</label>
                    <select id="movement_id" v-model="movement_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="cut in cuts" :value="cut.id" :key="cut.id">{{cut.cash_register.turn.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="printCashCut">Imprimir</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cuts', 'message'],
        data() {
            return {
                movement_id: '',
            }
        },
        methods: {
            printCashCut () {
                if(this.movement_id == ''){
                    return false;
                }
                window.open("/home/cash-register-movements/"+this.movement_id);
            }
        }
    }
</script>
