<template>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Reimprimir / realizar corte</div>
            <div class="panel-body">
                <p class="text-info" v-if="message">{{message}}</p>

                <div class="form-group">
                    <label for="subsidiary_id">Sucursal *</label>
                    <select id="subsidiary_id" v-model="subsidiary_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="subsidiary in subsidiaries" :key="subsidiary.id" :value="subsidiary.id">{{subsidiary.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="date">Fecha *</label>
                    <datepicker v-model="date" :format="dateFormatter" :bootstrap-styling="true" class=""></datepicker>
                    
                </div>

                <div class="form-group">
                    <label for="turn_id">Turno *</label>
                    <select id="turn_id" v-model="turn_id" class="form-control">
                        <option value="">Selecciona uno por favor..</option>
                        <option v-for="turn in turns" :key="turn.id" :value="turn.id">{{turn.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" @click="printCashCut">Imprimir</button>
                    <button type="button" class="btn btn-default" @click="searchCashCut">Buscar</button>
                    <cash-cut v-if="showCutButton"
                        :cash_register="cash_register"
                        :exchange_rate="exchange_rate"
                    ></cash-cut>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker';

    export default {
        props: ['subsidiaries', 'turns', 'exchange_rate'],
        components: {
            Datepicker
        },
        data() {
            return {
                subsidiary_id: '',
                date: '',
                turn_id: '',
                message: false,
                cash_register: {
                    close: true,
                    fiftycents: 0,
                    onepeso: 0,
                    twopesos: 0,
                    fivepesos: 0,
                    tenpesos: 0,
                    twentypesos: 0,
                    fiftypesos: 0,
                    hundredpesos: 0,
                    twohundredpesos: 0,
                    fivehundredpesos: 0,
                    onethousandpesos: 0,
                    total: 0,
                    turn_id: 1,
                    code: '',
                    password: ''
                },
                showCutButton: false,
            }
        },
        mounted: function () {
        },
        methods: {
            dateFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            printCashCut () {
                this.message = '';
                if(this.subsidiary_id == '') {
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.dateFormatter(this.date),
                    turn_id: this.turn_id,
                    type: 'print'
                }, {headers})
                .then(function (response){
                    window.open("/home/cash-register-movements/print/"+response.data.movement_id);
                },function (error){
                    this.message = error.data.message
                });
                
            },
            searchCashCut() {
                this.message = '';
                this.showCutButton = false;
                // console.log(this.date);
                if(this.subsidiary_id == '') {
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.dateFormatter(this.date),
                    turn_id: this.turn_id,
                    type: 'create'
                }, {headers})
                .then(function (response) {
                    this.cash_register = response.data.cash_register;
                    this.showCutButton = true;
                },function (error){
                    this.message = error.data.message
                });
            },
            createCashCut () {
                this.message = '';
                if(this.subsidiary_id == ''){
                    return this.message = 'Selecciona una sucursal';
                }
                if(this.date == ''){
                    return this.message = 'Selecciona la fecha';
                }
                if(this.turn_id == ''){
                    return this.message = 'Selecciona el turno';
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/find/cash-register-movements', {
                    subsidiary_id: this.subsidiary_id,
                    date: this.date,
                    turn_id: this.turn_id,
                    type: 'create'
                }, {headers})
                .then(function (response) {
                    window.open("/home/cash-register-movements/print/"+response.data.movement_id);
                },function (error) {
                    this.message = error.data.message;
                });
                
            }
        }
    }
</script>
