<template>
<div>
    <div class="form-group">
        <div class="col-sm-4">
            <strong>Folio:</strong> {{ sale_global.folio }}       
        </div>
        <div class="col-sm-4">
            <strong>Fecha y hora:</strong> {{ sale_global.created_at }}        
        </div>
        <div class="col-sm-4">
            <strong>Total:</strong> $ {{ totalProducts() }}        
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <strong>Restante:</strong> $ {{ getChange() }}        
        </div>
        <div class="col-sm-4">
            <strong>Sucursal:</strong> {{ sale_global.subsidiary.name }}        
        </div>
        <div class="col-sm-4">
            <strong>Barbero:</strong> {{sale_global.employee.name}}      
        </div>
    </div>
    <input class='form-control' type='hidden' name="money_change" id="money_change" v-model="sale_global.money_change"/>
    <div class="form-group" v-if="!sale.paid">
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="Agregar un pago" @click="addPayment()"/>
        </div>
    </div>
    <span class="label label-danger" :class="[getPaymentsTotal() - totalProducts() > 0 ? 'd-block' : 'd-none', '']">El monto de pago es mayor a la cantidad a pagar</span>

    <table class="table" v-if="sale_global.payments.length > 0">
        <thead>
            <tr>
                <th>Tipo de pago</th>
                <th>Moneda</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th v-if="!sale.paid">Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(payment, index) in sale_global.payments" :key="payment.id">
                <input type="hidden" name="payment_ids[]" :value="payment.id"/>
                <td>
                    <select class="form-control" name="methods[]" v-model="payment.method" :disabled="sale.paid == 1">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="coins[]" v-model="payment.coin" :disabled="sale.paid == 1">
                        <option value="mxn">mxn</option>
                        <option value="usd">usd</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="0" step="any" name="totals[]" class="form-control" v-model="payment.total" :disabled="sale.paid == 1">
                </td>
                <td>
                    <input type="hidden" class="dates" name="dates[]" v-model="payment.date"/>
                    <!-- <Datepicker v-model="payment.date" :value="payment.date" :use-utc="false" :format="dateFormatter" :bootstrap-styling="true" class=""></Datepicker> -->
                    <Datepicker v-model="payment.date" :use-utc="false" :format="dateFormatter" :bootstrap-styling="true" class=""></Datepicker>
                </td>
                <td v-if="!sale.paid">
                    <input v-if="payment.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removePayment(index, payment.id)">
                    <!--<input v-if="payment.id != 0" type="button" class="btn btn-danger" value="Cancelar" @click="deletePayment(index, payment.id)">-->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group" v-if="!sale.paid">
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="Agregar producto" @click="addProduct()"/>
        </div>
    </div>
    <table class="table" v-if="sale_global.products.length > 0">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th colspan="2" v-if="!sale.paid">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(saleproduct, index) in sale_global.products" :key="saleproduct.id">
                <td>
                    <input type="hidden" name="saleproduct_ids[]" :value="saleproduct.id"/>
                    <select name="product_ids[]" @change="setNewProduct(index, saleproduct.product_id)" class="form-control" style="width:90%;" v-model="saleproduct.product_id" :disabled="sale.paid == 1">
                        <option value="0">Seleccionar uno por favor...</option>
                        <option v-for="product in products" :key="product.id" :value="product.id">{{product.name}}</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="1" step="any" name="product_qtys[]" class="form-control" v-model="saleproduct.qty" :disabled="sale.paid == 1">
                </td>
                <td>
                    $ {{ saleproduct.price }}
                </td>
                <td>
                    $ {{ saleproduct.qty * saleproduct.price }}
                </td>
                <td v-if="!sale.paid">
                    <input type="text" class="form-control" placeholder="Motivo de cancelación" v-model="saleproduct.canceled_description">
                </td>
                <td v-if="!sale.paid">
                    <input v-if="saleproduct.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removeProduct(index, saleproduct)">
                    <input v-if="saleproduct.id != 0" type="button" class="btn btn-danger" value="Cancelar" @click="deleteProduct(index, saleproduct)">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>$ {{ totalProducts() }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Restante:</td>
                <td>$ {{ totalProducts() - getPaymentsTotal() }}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group" v-if="!sale.paid">
        <div class="col-sm-offset-10 col-sm-2">
            <input type="button" class="btn btn-primary" @click="validate()" :disabled="getPaymentsTotal() - totalProducts() > 0" value="Guardar">
        </div>
    </div>

</div>
</template>
<script>
    import Vue from 'vue'
    import VueSwal from 'vue-swal'
    import Datepicker from 'vuejs-datepicker';

    Vue.use(VueSwal);

    export default {
        props: ['sale','products'],
        components: {
            Datepicker
        },
        data() {
            return {
                'sale_global': null,
            };
        },
        created: function () {
            this.sale_global = this.sale;
            $("#customer_id_container span").css("width","100%");
            $("#customer_id").val(this.sale_global.customer_id);
            this.sale_global.payments.forEach((payment) => {
                const [ year, month, day ] = payment.date.split("-");
                payment.date = new Date(year, month-1, day);
            });
        },
        methods: {
            dateFormatter(date) {
                // return date;
                return moment(date).format('YYYY-MM-DD');
            },
            showCustomerFilter() {
                $("#customer_id_container").show();
                $("#customer_name").hide();
                $("#show_customer_name").hide();
                $(".select2-container--default").css("width","100%");
            },
            hideCustomerFilter() {
                $("#customer_id_container").hide();
                $("#customer_name").show();
                $("#show_customer_name").show();   
            },
            addPayment () {
                const date = new Date();
                this.sale_global.payments.push({
                    id : 0,
                    method : "Efectivo",
                    total: 0,
                    sale_id: this.sale_global.id,
                    coin: "mxn",
                    cash_register_id: this.sale_global.cash_register_id,
                    date,
                });
            },
            removePayment(index, id) {
                this.$swal({
                    title: "Desea eliminar el pago?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.payments.splice(index, 1);
                        swal("El pago ha sido eliminado", { icon: "success", });
                    } 
                });
            },
            deletePayment(index, id) {
                this.$swal({
                    title: "Desea eliminar el pago?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.payments.splice(index, 1);
                        swal("El pago ha sido eliminado", { icon: "success", });
                    } 
                });
            },
            removeProduct(index, saleproduct) {
                this.$swal({
                    title: "Desea eliminar el producto?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.products.splice(index, 1);
                        swal("El producto ha sido eliminado", { icon: "success", });
                    } 
                });
            },
            deleteProduct(index, saleproduct) {
                if(!saleproduct.canceled_description) {
                    this.$swal("Ocurrió un error al eliminar el servicio", "Debe escribir el motivo de cancelacion", { icon: "error" });
                } else {
                    this.$swal({
                        title: "Desea eliminar el producto?",
                        text: "Si lo elimina, no podrá recuperarlo",
                        icon: "warning",
                        type: "input",
                        buttons: true,
                        dangerMode: true
                    })
                    .then((willDelete) => {
                        if (willDelete) {

                            const headers = {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            };

                            this.$http.post('/home/sales/' + this.sale_global.id + '/products/' + saleproduct.id + '/destroy', saleproduct, {headers})
                            .then(function (response){
                                this.sale_global.products.splice(index, 1);
                                this.$swal("El producto ha sido eliminado", { icon: "success", });
                            },function (error) {
                                this.$swal("Ocurrió un error al eliminar el producto", error.data,message, { icon: "error" });
                            });
                        } 
                    });
                }
            },
            totalProducts () {
                const { products } = this.sale_global;
                return products.reduce((prevValue, { qty, price }) => prevValue += qty * price, 0); 
            },
            getPaymentsTotal() {
                const { payments } = this.sale_global;
                return payments.reduce((prevValue, {total}) => prevValue += parseFloat(total), 0);
            },
            getChange() {
                const payments_total = this.getPaymentsTotal();
                const total_products = this.totalProducts();
                const change = total_products > payments_total ? total_products - payments_total : 0;
                // const change = total_products - payments_total;
                this.sale_global.money_change = change;
                return change;
            },
            addProduct() {
                const product = this.products[0];
                const { id, sell_price, cost } = product;
                this.sale_global.products.push({
                    id: 0,
                    qty: 1,
                    product_id: id,
                    sale_id: this.sale_global.id,
                    disabled: 0,
                    disable_by: null,
                    price: sell_price,
                    has_promotion: 0,
                    original_price: sell_price,
                    cost,
                    product
                });
            },
            setNewProduct(index, id) {
                for (var i = 0; i < this.products.length; i++) {
                    if(id == this.products[i].id) {
                        const product = this.sale_global.products[index];
                        const found_product = this.products[i];
                        product.product = found_product;
                        product.price = found_product.sell_price * 0.8; // * 20% off...
                        product.cost = found_product.cost;
                    }
                }   
            },
            validate() {
                const dateFormatter = this.dateFormatter;
                $( ".dates" ).each(function( index ) {
                    $(this).val(dateFormatter($(this).val()));
                });
                $("#submit").submit();
            }
        }
    }
</script>