<template>
<div class="col-sm-4">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Detalle" @click="openModal">
        <i class="fa fa-info-circle fa-2x"></i>
    </a>

    <div class="modal fade" :id="'modal-sale-detail-'+sale.id" tabindex="-1" role="dialog" :aria-labelledby="'modal-sale-detail-'+sale.id+'Label'">
      <div class="modal-dialog modal-lg sale-detail" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" :id="'modal-sale-detail-'+sale.id+'Label'">Detalle del servicio. <small><strong>Folio:</strong> {{sale.id}}</small></h4>
            <p class="pull-right" v-if="kids_promotion > 0">
                <span v-if="kids_promotion == 50">
                    Tienes la promoción del 50% de descuento en el corte para tu hijo
                </span>
                <span v-if="kids_promotion == 100">
                    Tienes la promoción del Corte gratis para tu hijo
                </span>
            </p>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="sale_error">
              {{sale_error}}
            </div>
            <div v-if="sale.image">
                <p>
                    <strong>Imagen evidencia:</strong> 
                    <a :href="sale.image.path" title="Ver imagen">
                        <i class="fa fa-image fa-2x"></i>
                    </a>
                </p>
            </div>
            <div v-if="!auth_view && !ticket_view" class="row">
                <div class="col-md-5">
                    <p>
                        <strong>Fecha y hora:</strong> {{sale.created_at}}
                    </p>
                    <div class="row">
                        <div class="col-md-3"><strong>Barbero:</strong></div>
                        <div class="col-md-9">
                            <span style="display: inline-block;">
                            <select v-model="barber_id" class="form-control" :class="subsidiary.related_brand == 1 ? 'danger-animation' : ''">
                                <option value="">Seleccione uno por favor..</option>
                                <option v-for="barber in barbers" :value="barber.id" :key="barber.id">{{barber.short_name}}</option>
                                <template v-if="sale.employee && sale.employee.id">
                                    <option :value="sale.employee.id">{{sale.employee.short_name}}</option>
                                </template>
                            </select>
                        </span>
                        </div>
                    </div>
                    <div v-if="has2x1Promotion || kids_promotion == 100" class="row">
                        <div class="col-md-3"><strong>Barbero2:</strong></div>
                        <div class="col-md-9">
                            <select v-model="barber2_id" class="form-control" :class="subsidiary.related_brand == 1 ? 'danger-animation' : ''">
                                <option value="">Seleccione uno por favor..</option>
                                <option v-for="barber in barbers" :value="barber.id" :key="barber.id">{{barber.short_name}}</option>
                                <template v-if="sale.employee2 && sale.employee2.id">
                                    <option :value="sale.employee2.id" selected="selected">{{sale.employee2.short_name}}</option>
                                </template>
                            </select>
                        </div>
                    </div>

                    <input v-if="!has2x1Promotion" type="hidden" v-model="barber2_id">
                    <p>
                        <strong>Cliente:</strong> {{sale.customer.name}} ({{sale.customer.wallet_number}})
                    </p>

                    <p>
                        <a href="#" class="btn btn-default" @click="markAsAttend" v-if="!sale.attend">Atendiendo</a>
                        <a href="#" class="btn btn-default" @click="markAsFinish" v-if="!sale.finish">Terminado</a>
                        <a href="#" class="btn btn-default" @click="paid = !paid;">Cobrar</a>
                    </p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Servicio / Producto</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="service in sale_services" :key="service.id">
                                <td>{{ service.service.name }}</td>
                                <td>{{ service.qty }}</td>
                                <td>
                                    <p class="pull-right" v-if="service.is_courtesy && (sale.is_courtesy || payment_gateways.cortesia)">0</p>

                                    <p class="pull-right" v-else-if="kids_promotion == 0 || !service.service.kids_promotion">
                                        {{ service_price(service) * service.qty }}
                                    </p>

                                    <p class="pull-right" v-if="kids_promotion > 0 && service.service.kids_promotion">
                                        <span v-if="kids_promotion == 50">
                                            {{ ((service_price(service) * 50) / 100) * service.qty }}
                                        </span>
                                        <span v-if="kids_promotion == 100">
                                            {{ ((service_price(service) * 100) / 100) * service.qty }}
                                            0
                                        </span>
                                    </p>
                                </td>
                                <td>
                                    <a href="#" @click="authenticate(sale.id, service.id, 'service')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr v-for="product in sale.products" :key="product.id">
                                <td>{{ product.product.name }}</td>
                                <td>{{ product.qty }}</td>
                                <td><p class="pull-right">{{ product.price * product.qty }}</p></td>
                                <td>
                                    <a href="#" @click="authenticate(sale.id, product.id, 'product')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">Total</th>
                                <td colspan="2" class="text-left">{{subtotal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <div v-if="paid" class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Moneda</h4>
                                <div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="coin.mxn"> MXN
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="coin.usd"> USD
                                        </label>
                                    </div>
                                </div>

                                <h4>Metodos de pago</h4>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.efectivo" @change="updateQty"> Efectivo
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.tarjeta" @change="updateQty"> Tarjeta
                                    </label>
                                </div>

                                <div class="checkbox" v-if="sale.customer.services_free > 0">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.wallet" @change="updateQty" :disabled="sale.customer.services_free == 0"> Monedero ({{sale.customer.services_free}} Gratis)
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.cortesia" @change="updateQty" :disabled="sale.is_courtesy == 1"> Cortesía
                                    </label>
                                </div>

                                <div class="checkbox" v-if="hasBirthday">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.birthday" @change="setUnsetWallet"> Cumpleaños 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="payment_gateways.promo_ut" @change="setUnsetWallet"> Promo UT 
                                    </label>
                                </div>

                                <div v-if="payment_gateways.tarjeta">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="visa"> Visa
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="mastercard"> Mastercard
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="card_brand" value="amex"> American Express
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Ultimos 4 digitos de la tarjeta</label>
                                        <input type="text" class="form-control" v-model="last_four">
                                    </div>
                                </div>

                                <hr>

                                <div class="form-group">
                                    <button 
                                        type="button" 
                                        class="btn btn-pimary btn-lg btn-block" 
                                        @click="showTicketTypeForm"
                                        :disabled="is_paying"
                                        v-show="showPaymentButton"
                                    >Cobrar</button>
                                </div>
                                <p class="text-danger">{{error_payment}}</p>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Subtotal $</th>
                                        <!-- <td v-if="!payment_gateways.cortesia">{{subtotal}}</td> -->
                                        <!-- <td v-if="payment_gateways.cortesia">0</td> -->
                                        <td>{{subtotal}}</td>
                                    </tr>
                                    <tr>
                                        <th>Propina $</th>
                                        <td><input type="number" class="form-control" v-model="tip"></td>
                                    </tr>
                                    <tr v-if="hasFrequentCustomerDiscount && !hasCustomPromotion && !payment_gateways.wallet 
                                    && !payment_gateways.promo_ut && !is_courtesy && sale.kids_promotion == 0 && !(hasBirthday && payment_gateways.birthday)">
                                        <th>Desc. Cliente frequente (10%) $</th>
                                        <td>{{(total_services_diaries * 10) / 100}}</td>
                                    </tr>
                                    <tr v-if="!hasCustomPromotion && !payment_gateways.wallet && !payment_gateways.promo_ut && 
                                    sale.has_discount && sale.discount_percentaje > 0 && total_services_diaries > 0 && 
                                    sale.kids_promotion == 0 && !(hasBirthday && payment_gateways.birthday)">
                                        <th>Desc. Cita ({{sale.discount_percentaje}}%) $</th>
                                        <td>{{(total_services_diaries * sale.discount_percentaje) / 100}}</td>
                                    </tr>
                                    <tr v-if="current_promotion && current_promotion.discount_percentaje > 0 && total_services_custom_promotion > 0">
                                        <th>{{current_promotion.name}} ({{current_promotion.discount_percentaje}}%) $</th>
                                        <td>{{(total_services_custom_promotion * current_promotion.discount_percentaje) / 100}}</td>
                                    </tr>
                                    <tr v-if="payment_gateways.promo_ut && !hasCustomPromotion && !payment_gateways.wallet && sale.kids_promotion == 0 && !(hasBirthday && payment_gateways.birthday)">
                                        <th>Descuento UT (20%) $</th>
                                        <td>{{(total_services * 20) / 100}}</td>
                                    </tr>
                                    <tr v-if="hasBirthday && payment_gateways.birthday && kids_promotion == 0">
                                        <th>Descuento (cumpleaños) $</th>
                                        <td>{{ birthday_discount }}</td>
                                    </tr>
                                    <tr>
                                        <th>Importe a cobrar $</th>
                                        <td>
                                        {{total}}
                                            <span v-if="coin.usd">
                                                / {{exchange_rate}} = {{total_change}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr v-if="payment_gateways.efectivo && coin.mxn">
                                        <th>
                                            Efectivo MXN $
                                            {{total - (qty_money_usd * exchange_rate) - qty_money_mxn}}
                                        </th>
                                        <td><input type="text" class="form-control" v-model="qty_money_mxn" @keyup="updateQty"></td>
                                    </tr>

                                    <tr v-if="payment_gateways.efectivo && coin.usd">
                                        <th>
                                            Efectivo USD $
                                            {{total - qty_money_mxn - (qty_money_usd * exchange_rate)}} / {{exchange_rate}} = {{(total - qty_money_mxn) / exchange_rate }}
                                        </th>
                                        <td><input type="text" class="form-control" v-model="qty_money_usd" @keyup="updateQty"/></td>
                                    </tr>
                                    <tr v-if="payment_gateways.tarjeta">
                                        <th>Tarjeta $</th>
                                        <td><input type="text" class="form-control" v-model="qty_card" @keyup="updateQty"/></td>
                                    </tr>
                                    <tr v-if="payment_gateways.wallet">
                                        <th>Monedero $</th>
                                        <td><input type="text" class="form-control" v-model="qty_wallet" readonly="readonly"></td>
                                    </tr>
                                    <tr>
                                        <th>Importe pagado $</th>
                                        <td>{{qty}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo de Cambio $</th>
                                        <td>{{exchange_rate}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cambio $</th>
                                        <td>{{money_change}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="auth_view">
                <h3 v-if="!is_courtesy">Verifica tu identidad como Encargado o Supervisor.</h3>
                <h3 v-if="is_courtesy">Verifica tu identidad como administrador.</h3>
                <div class="form-group" v-if="!is_courtesy">
                    <label for="code" class="control-label" >Clave empleado</label>
                    <input type="text" class="form-control" id="code" name="code" required="required" v-model="auth.code" autocomplete="off">
                </div>
                <div class="form-group" v-if="is_courtesy">
                    <label for="email" class="control-label">Usuario</label>
                    <input type="text" class="form-control" id="email" name="email" required="required" v-model="auth.email" autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Contraseña *</label>
                    <div style="display:none">
                        <input type="password" tabindex="-1"/>
                    </div>
                    <input type="password" class="form-control" id="password" name="password" required="required" v-model="auth.password" autocomplete="off">
                </div>

                <div class="form-group" v-if="type == 'service' || type == 'product'">
                    <label for="canceled_description" class="control-label">Motivo de cancelacion</label>
                    <input type="text" class="form-control" id="canceled_description" name="canceled_description" required="required" v-model="auth.canceled_description" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Enviar" @click="makeAuth">
                    <input type="button" class="btn btn-danger" value="Cancelar" @click="auth_view = false;ticket_view = false; sale_error = false; error_payment = '';">
                </div>
            </div>

            <div v-if="ticket_view">
                <h3>Como desea proporcionar el ticket al cliente?.</h3>
                <div class="form-group">
                    <label for="code" class="control-label" >Teléfono (Necesario solo para SMS)</label>
                    <input type="number" class="form-control" id="phone" name="phone" required="required" v-model="sale.customer.phone" autocomplete="off">
                </div>
                
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Ticket impreso" @click="printTicket">
                    <input type="button" class="btn btn-primary" value="Mensaje de texto" @click="sendTicket">
                     <input type="button" class="btn btn-default" value="Regresar" :disabled="is_paying" @click="hideTicketTypeForm">
                    <!-- <input type="button" class="btn btn-danger" value="Cancelar" @click="auth_view = false; ticket_view = false; sale_error = false; error_payment = '';"> -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import VueSwal from 'vue-swal'
    Vue.use(VueSwal);
    Array.prototype.max = function() {
        return Math.max.apply(null, this);
    };
    export default {
        props: ['sale', 'sale_id', 'exchange_rate_id', 'exchange_rate', 'barbers', 'current_promotion','subsidiary'],
        data() {
            return {
                sale_error: false,
                surveySignalSend: false,
                surveyHasAnswered: false,
                error_payment: '',
                is_paying: false,
                is_authorized: false,
                send_ticket: false,
                print_ticket: false,
                message: '',
                auth: {
                    email: '',
                    password: '',
                    type: '',
                    canceled_description: '',
                },
                auth_view: false,
                ticket_view: false,
                type: '',
                paid: false,
                payment_gateway: '',
                payment_gateways: {
                    efectivo: false,
                    tarjeta: false,
                    wallet: false,
                    cortesia: false,
                    birthday: false,
                    promo_ut: false,
                },
                coin: {
                    mxn: true,
                    usd: false,
                },
                qty: 0,
                qty_money_mxn: 0,
                qty_money_usd: 0,
                qty_wallet: 0,
                qty_card: 0,
                total_neto: 0,
                tip: 0,
                tip_in: 'efectivo',
                card_brand: '',
                last_four: '',
                barber_id: '',
                barber2_id: ''
            }
        },
        mounted: function () {
            this.barber_id = this.sale.employee_id;
            this.kids_promotion
            Echo.channel(`survey.${this.sale.subsidiary_id}.answered.${this.sale.id}`)
            .listen('AcceptSurvey', (e) => {
                this.surveyHasAnswered = true;
            });
            if(this.sale.is_courtesy) {
                this.payment_gateways.cortesia = true;
            }
            //this.sale.has_birthday = true;
        },
        computed: {
            sale_services () {
                return this.sale.services.map((service) => {
                    service.is_courtesy = this.serviceCourtesy(service.service_id);
                    return service;
                });
            },
            surveyButtonText () {
                return this.surveySignalSend
                    ? 'Formulario abierto'
                    : 'Encuesta';
            },
            showPaymentButton () {
                /*
                let subsidiaries = Laravel.subsidiaries;
                
                for (var i = 0; i < subsidiaries.length; i++) {
                    if (this.sale.subsidiary_id == subsidiaries[i]) {
                        if (this.surveyHasAnswered) {
                            return true;
                        }
                        return false;
                    }
                }
                */
                return true;
            },
            is_courtesy() {
                return this.sale.is_courtesy || this.payment_gateways.cortesia;
            },
            total_services () {
                var total = 0;
                for (var i = 0; i < this.sale.services.length; i++) {
                    total += (this.sale.services[i].qty * this.sale.services[i].price);
                }
                return total
            },
            total_services_custom_promotion () {
                // ver si servicio no esta en excepciones para sumarlo al total
                var total = 0;
                var services = this.sale.services;

                for (var i = 0; i < services.length; i++) {
                    if(services[i].discount_percentaje > 0) {
                        total += (services[i].qty * services[i].price);
                    }
                }
                return total
            },
            total_services_diaries () {
                // ver si servicio no esta en excepciones para sumarlo al total
                var total = 0;
                var services = this.sale.services;

                for (var i = 0; i < services.length; i++) {
                    if(services[i].include_in_diaries_discount) {
                        total += (services[i].qty * services[i].price);
                    }
                }
                return total
            },
            total_products () {
                var total = 0;
                for (var i = 0; i < this.sale.products.length; i++) {
                    total += (this.sale.products[i].qty * this.sale.products[i].price);
                }
                return total
            },
            birthday_discount: function () {
                var services_price_arr = [];
                for (var i = 0; i < this.sale.services.length; i++) {
                    var service = this.sale.services[i];
                    if(service.include_in_birthday_discount) {
                        services_price_arr.push(this.service_price(service));
                    }
                }
                var max = services_price_arr.length > 0 ? services_price_arr.max() : 0;
                return max;
            },
            total () {
                if (this.is_courtesy || this.payment_gateways.cortesia) {
                    return this.subtotal + Number(this.tip);
                }
                var total = this.subtotal;
                var discount_percentaje = 0;

                // add extra 10% off if the subsidiary includes frequent customers discount and wallet was not activated.
                if(this.hasFrequentCustomerDiscount && !this.payment_gateways.wallet && !(this.hasCustomPromotion && this.current_promotion.cash_only)) {
                    discount_percentaje += 10;
                }

                // descuento por citas
                if (!this.hasCustomPromotion && !this.payment_gateways.wallet && this.sale.has_discount 
                && this.kids_promotion == 0 && !(this.hasBirthday && this.payment_gateways.birthday) 
                && !this.payment_gateways.promo_ut) {

                    discount_percentaje += this.sale.discount_percentaje;
                    var descuento = (this.total_services_diaries * discount_percentaje) / 100;
                    total -= descuento;
                    return Number(total) + Number(this.tip);
                }

                // promo UT
                else if(this.payment_gateways.promo_ut && !this.hasCustomPromotion && !this.payment_gateways.wallet && 
                this.sale.kids_promotion == 0 && !(this.hasBirthday && this.payment_gateways.birthday)) {
                    var descuento = (this.total_services * 20) / 100;
                    total -= descuento;
                    return Number(total) + Number(this.tip);
                }

                // Descuento de promocion personalizada
                else if(this.current_promotion && this.current_promotion.discount_percentaje > 0 && this.total_services_custom_promotion > 0) {
                    var descuento = (this.total_services_custom_promotion * this.current_promotion.discount_percentaje) / 100;
                    total -= descuento;   
                    return Number(total) + Number(this.tip);
                }

                if(discount_percentaje > 0 && total > 0) {
                    var descuento = (this.total_services_diaries * discount_percentaje) / 100;
                    total -= descuento;
                }
                return Number(total) + Number(this.tip);
            },
            subtotal () {

                if(this.is_courtesy) {

                    let total = this.sale.services.reduce((prevValue, service) => {

                        if(!this.sale.is_courtesy && this.payment_gateways.cortesia) {
                            return prevValue;
                        }
            
                        const courtesy_services = this.sale.customer.courtesy_services;
                        const courtesy_service = courtesy_services.find(({service_id}) => service_id == service.service_id);

                        const price = parseFloat(this.service_price(service)) * service.qty;
                        // if courtesy check is not selected or not courtesy service we will charge the service amount
                        return !courtesy_service ? (prevValue + price) : prevValue;  
                    }, 0);
                    total += this.total_products;
                    return total;
                }

                if (this.kids_promotion > 0) {
                    let total = 0;
                    let amount = 0;
                    for (var i = 0; i < this.sale.services.length; i++) {
                        if (this.sale.services[i].service.kids_promotion) {
                            if (this.kids_promotion == 50) {
                                amount = ((this.sale.services[i].price * 50) / 100) * this.sale.services[i].qty;
                            }else {
                                amount = 0;
                            }      
                        }else {
                            amount = this.sale.services[i].price * this.sale.services[i].qty;
                        }
                        total += amount;
                    }
                    return Number(total) + this.total_products;
                }

                // var total = Number(this.sale.total);

                let total = this.sale.services.reduce(
                    (prevValue, service) => prevValue + parseFloat(this.service_price(service)) * service.qty
                , 0);
                total += this.total_products;

                if (this.hasBirthday && this.payment_gateways.birthday && this.kids_promotion == 0) {
                    total -= this.birthday_discount;
                }
                // if (this.sale.has_discount) {
                //     var descuento = (this.total_services * 10) / 100;
                //     total -= descuento;
                // }

                return Number(total);
            },
            total_change () {
                return Number(this.total / this.exchange_rate).toFixed(2);
            },
            money_change () {
                var qty = this.qty - this.total;
                return Math.round(qty);
                // return Number(qty).toFixed(2);
            },
            kids_promotion () {
                var kid_service = _.find(this.sale.services, function(o) { 
                    return o.service.kids_promotion;
                });
                var adult_service = _.find(this.sale.services, function(o) { 
                    return o.service.id == 1;
                });
                if (kid_service && adult_service) {
                    return 100;
                }

                if (kid_service) {
                    return 50;
                }
                return 0;
            },
            hasCustomPromotion () {

                // return false in the current promotion is allowed to be with diaries discount
                if(this.current_promotion && this.current_promotion.mix_with_diaries_discount) {
                    return false;
                }

                var totalServices = this.sale.services.length;
                var totalProducts = this.sale.products.length;

                for (var i = 0; i < totalServices; i++) {
                    var saleService = this.sale.services[i];
                    if(saleService.price < this.currentServicePrice(saleService.service)) {
                        return true;
                    }
                }
                for (var i = 0; i < totalProducts; i++) {
                    if(this.sale.products[i].price < this.sale.products[i].product.sell_price){
                        return true;
                    }
                }

                if(this.current_promotion) {

                    // false if custom promotion has "cash only" enable doesn't have cash payment
                    if(this.current_promotion.cash_only && !this.payment_gateways.efectivo) {
                        return false;
                    }

                    // true of has discount and at least one product/service
                    if(
                        (this.current_promotion.services_discount_percentaje > 0 && totalServices > 0) ||
                        (this.current_promotion.products_discount_percentaje > 0 && totalProducts > 0)
                    ) {
                        return true;
                    }

                    var promotionServices = this.current_promotion.promotionservices;
                    var promotionProducts = this.current_promotion.promotion_products;

                    // check if one sale service is inside promotion services
                    for (var i = 0; i < totalServices; i++) {
                        var saleService = this.sale.services[i];
                        for (var i2 = 0; i2 < promotionServices.length; i2++) {
                            if(promotionServices[i2].service_id == saleService.service.id) {
                                return true;
                            }
                        }
                    }

                    // check if one sale product is inside promotion product
                    for (var i = 0; i < totalProducts; i++) {
                        var saleProduct = this.sale.products[i];
                        for (var i2 = 0; i2 < promotionProducts.length; i2++) {
                            if(promotionProducts[i2].product_id == saleProduct.product.id) {
                                return true;
                            }
                        }
                    }

                }
                return false;
            },
            has2x1Promotion () {
                var name = ""; 
                for (var i = 0; i < this.sale.services.length; i++) {
                    name = this.sale.services[i].service.name; 
                    if(name.includes("2x1") || name.includes("2X1")) {
                        return true;
                    }
                }
                return false;
            },
            hasBirthday() {
                return this.customerNotCreatedToday && this.sale.has_birthday;
            },
            customerNotCreatedToday() {
                var days_diff = 0;
                if(this.sale.customer) {
                    var today = new Date();
                    var customer_creation = new Date(this.sale.customer.created_at);
                    var today_string_date = today.toISOString().substring(0, 10);
                    var customer_string_date = customer_creation.toISOString().substring(0, 10);
                    days_diff = this.dateDiff(customer_string_date, today_string_date);
                }
                return days_diff >= 1
            },
            hasFrequentCustomerDiscount() {

                // has frequent customer promotion if the customer exists, is not "PUBLICO EN GENERAL"
                // and was registered at least one day ago
                return this.sale.frequent_customers_discount == 1 && this.sale.customer && 
                this.sale.customer.id != 7 && (this.customerNotCreatedToday || this.sale.has_discount);
            },
        },
        watch: {
            'payment_gateways.wallet': function (val) {
                var qty = this.firstServicePrice();
                this.qty_wallet = val ? qty : 0;
            },
            qty_wallet: function (val) {
                this.updateQty()
            }
        },
        methods: {
            service_price(service) {
                const current_promo = this.current_promotion;
                if(current_promo && current_promo.cash_only && current_promo.promotionservices) {
                    const promotionServices = current_promo.promotionservices;
                    const found_service = promotionServices.find((promotion_service) => promotion_service.service_id == service.service_id);
                    if(found_service && this.payment_gateways.efectivo) {
                        return found_service.price;
                    }
                }
                return service.price;
            },
            dateDiff(startDateString, endDateString) {
                let start = moment(startDateString);
                let end = moment(endDateString);
                let duration = moment.duration(end.diff(start));
                let days = duration.asDays();
                return Math.round(days);
            },
            currentServicePrice(service) {
                if(service.subsidiary_prices) {
                    for (var i = service.subsidiary_prices.length - 1; i >= 0; i--) {
                        var servicePrice = service.subsidiary_prices[i]; 
                        if(servicePrice.subsidiary_id == this.sale.subsidiary_id) {
                            return servicePrice.price;
                        }
                    }
                }
                return service.sell_price;
            },
            currentProductPrice(product) {
                if(product.subsidiary_prices) {
                    for (var i = product.subsidiary_prices.length - 1; i >= 0; i--) {
                        var productPrice = product.subsidiary_prices[i]; 
                        if(productPrice.subsidiary_id == this.sale.subsidiary_id) {
                            return productPrice.price;
                        }
                    }
                }
                return product.sell_price;
            },
            updateQty () {
                this.qty = 0;

                if ( this.payment_gateways.efectivo ) {
                    if ( this.coin.mxn ){
                        this.qty += Number(this.qty_money_mxn);
                    }

                    if ( this.coin.usd ){
                        this.qty += Number(this.qty_money_usd * this.exchange_rate);
                    }
                }
                if ( this.payment_gateways.tarjeta ){
                    this.qty += Number(this.qty_card);
                }

                if ( this.payment_gateways.wallet ){
                    this.qty += Number(this.qty_wallet);
                    this.payment_gateways.birthday = false;
                }
                this.sendSurveySignal();
            },
            openModal () {
                $('#modal-sale-detail-'+this.sale.id).modal('show');
            },
            authenticate (sale_id, model_id, type) {
                this.sale_id = sale_id;
                this.type = type;
                if (type == 'service') {
                    this.service_id = model_id;
                }

                if (type == 'product') {
                    this.product_id = model_id;
                }

                this.auth_view = true;
            },
            showTicketTypeForm() {
                this.error_payment = '';
                
                if ( this.payment_gateways.cortesia && !this.sale.is_courtesy ){
                    if ( !this.is_authorized ){
                        this.auth_view = true;
                        return this.error_payment = '';
                    }
                } else {
                    this.auth_view = false;
                    this.ticket_view = false;
                }

                if(!this.barber_id && this.subsidiary.related_brand == 1) {
                    return this.error_payment = 'Debe seleccionar un barbero.';
                }

                if(this.sale.services.length == 0 && this.sale.products.length == 0) {
                    return this.error_payment = 'Necesitas agregar al menos un servicio y/o producto';
                }

                if (this.money_change < 0) {
                    return this.error_payment = 'Necesitas cobrar antes de continuar.';
                }

                if (!this.payment_gateways.efectivo && !this.payment_gateways.tarjeta && !this.payment_gateways.wallet && !this.payment_gateways.cortesia) {
                    return this.error_payment = 'Necesitas seleccionar el metodo de pago.';
                }

                if (!this.coin.mxn && !this.coin.usd) {
                    return this.error_payment = 'Necesitas seleccionar al menos una moneda';
                }

                // if card payment and it's not exact
                if (this.money_change > 0 && !this.payment_gateways.efectivo && this.payment_gateways.tarjeta && !this.payment_gateways.wallet && !this.payment_gateways.cortesia) {
                    return this.error_payment = 'Para tarjetas, el pago debe ser igual al importe total.';
                }
                // alert("se muestra ticket?");
                this.ticket_view = true;
            },
            hideTicketTypeForm() {
                this.ticket_view = false;
            },
            printTicket() {
                this.hideTicketTypeForm();
                this.print_ticket = true;
                this.markAsPaid();
            },
            sendTicket() {
                this.send_ticket = true;
                this.markAsPaid();
            },
            makeAuth: function () {
                this.sale_error = false;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                if ( this.payment_gateways.cortesia ){
                    this.is_authorized = false;
                    this.$http.post('/home/subsidiary/auth/admin', this.auth, {headers})
                    .then(function (response){
                        this.auth_view = false;
                        this.is_authorized = true;
                        this.ticket_view = true;
                        this.markAsPaid();
                    },function (error){
                        this.sale_error = error.data.message
                    });
                    return false;
                } else {
                    this.auth.type = this.type;
                    this.$http.post('/home/subsidiary/authDelete', this.auth, {headers})
                    .then(function (response) {
                        this.auth_view = false;
                        if (this.type == 'service') {
                            this.deleteService(this.sale.id, this.service_id)
                        }
                        if (this.type == 'product') {
                            this.deleteProduct(this.sale.id, this.product_id)
                        }
                    },function (error) {
                        this.sale_error = error.data.message
                    });
                }
            },
            deleteService (sale_id, service_id) {

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/sales/'+sale_id+'/services/'+service_id+'/destroy', this.auth, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error) {
                    this.sale_error = error.data.message;
                });
            },
            deleteProduct (sale_id, product_id) {

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/home/sales/'+sale_id+'/products/'+product_id+'/destroy', this.auth, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    this.$eventHub.$emit('updateSale', this.sale);
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                },function (error) {
                    this.sale_error = error.data.message;
                });
            },
            hasWaitingService () {
                for (var i = 0; i < this.sale.services.length; i++) {
                    // 19 = EN ESPERA
                    if(this.sale.services[i].service_id == 19) {
                        return true;
                    }
                }
                return false;
            },
            markAsAttend () {
                if (!this.sale.employee && this.barber_id == '' && this.subsidiary.related_brand == 1) {
                    // if (this.barber_id == '') {
                        this.sale_error = 'Necesitas seleccionar el barbero.'
                        return false;
                    // }
                }

                if(this.sale.services.length == 0 || (this.sale.services.length == 1 && this.hasWaitingService())) {
                    this.sale_error = 'Debe tener al menos un servicio para cambiar a "atendiendo".';
                    return false;
                }

                this.sale_error = false;
                var data = {
                    status: 'attend',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };                

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsFinish () {
                var data = {
                    status: 'finish',
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id
                }

                if(this.sale.services.length == 0 || (this.sale.services.length == 1 && this.hasWaitingService())) {
                    this.sale_error = 'Debe tener al menos un servicio para cambiar a "finalizado".';
                    return false;
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    this.message = response.data.message;
                    this.sale = response.data.sale;
                    $('#modal-sale-detail-'+this.sale.id).modal('hide');
                    this.$eventHub.$emit('updateSale', response.data.sale);
                    this.$eventHub.$emit('updateBarbers', response.data.barbers);
                },function (error){
                    this.error = error.data.message
                });
            },
            markAsPaid () {
                
                if(this.payment_gateways.cortesia){
                    this.sale.total = 0;
                }

                // return this.error_payment = 'success';

                this.paidAjax();   
            },
            paidAjax() {
                var sale_id = this.sale.id;
                this.is_paying = true;

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                var data = {
                    auth: this.auth,
                    status: 'paid',
                    card_brand: this.card_brand,
                    last_four: this.last_four,
                    coin_mxn: this.coin.mxn,
                    coin_usd: this.coin.usd,
                    payment_gateways: this.payment_gateways,
                    subtotal: this.sale.total,
                    tip: this.tip,
                    tip_in: this.tip_in,
                    total: this.total,
                    money_change: this.money_change,
                    qty: this.qty,
                    qty_money_mxn: this.qty_money_mxn,
                    qty_money_usd: this.qty_money_usd,
                    qty_card: this.qty_card,
                    qty_wallet: this.qty_wallet,
                    qty_cortesia: this.qty_cortesia,
                    barber_id: this.barber_id,
                    barber2_id: this.barber2_id,
                    kids_promotion: this.kids_promotion,
                    send_ticket: this.send_ticket
                };

                this.$http.put('/home/sales/'+this.sale.id, data, {headers})
                .then(function (response){
                    if (response.data.already_paid) {
                        if(this.print_ticket) {
                            this.message = response.data.message;
                            window.open('/home/sales/'+sale_id+'/print');
                            window.location.reload();
                            return;
                        }
                        else if(this.send_ticket) {
                            this.sendTicketAjax();
                        }

                    } else {
                        this.message = response.data.message;
                        this.$eventHub.$emit('updateSales', this.sales);
                        this.$eventHub.$emit('updateBarbers', response.data.barbers);
                        
                        if(this.print_ticket) {
                            window.open('/home/sales/'+sale_id+'/print');
                            $('#modal-sale-detail-'+this.sale.id).modal('hide');
                            window.onfocus = function () { 
                                setTimeout(function () { 
                                    window.location.reload();
                                    this.is_paying = false;
                                }, 500); 
                            }
                        }
                        if(this.send_ticket) {
                            this.sendTicketAjax();
                        }
                    }
                },function (error){
                    this.is_paying = false;
                    this.error_payment = error.data.message
                    // this.error_payment = error.body;
                });
            },
            sendTicketAjax() {
                var data = {
                    sale_id: this.sale.id,
                    phone: this.sale.customer.phone,
                }

                let headers = {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };

                this.$http.post('/ticket/send', data, {headers})
                .then(function (response){
                    if(response.data.status == 'success') {
                        swal("El mensaje ha sido enviado", { icon: "success", });
                        $('#modal-sale-detail-'+this.sale.id).modal('hide');
                        // this.hideTicketTypeForm();
                        setTimeout(function () { 
                            window.location.reload();
                            this.is_paying = false;
                        }, 1000); 
                    } else {
                        // this.is_paying = false;
                        this.$swal("Ocurrió un error al enviar el mensaje", response.data.error, { icon: "error" });
                    }

                    },function (error){
                    alert(JSON.stringify(error));
                    // this.error_payment = error.body;
                });
            },
            firstServicePrice () {
                var services = _.sortBy(this.sale.services, [function(o) { 
                    return parseFloat(o.price);
                }]);
                
                return _.last(services).price;
            },

            sendSurveySignal() {
                if (!this.surveyHasAnswered) {

                    let headers = {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    };

                    this.$http.post('/home/sales/'+this.sale.id+'/survey', {}, {headers})
                    .then((response) => {
                        this.surveySignalSend = true;
                        setTimeout(() => {
                            this.surveyHasAnswered = true;
                        },(1000 * 30));
                    }, (error) => {
                    });
                }
            },
            setUnsetWallet() {
                if(this.payment_gateways.birthday) {
                    this.payment_gateways.wallet = false;
                }
            },
            serviceCourtesy(service_id) {
                const courtesy_services = this.sale.customer.courtesy_services;
                if(!courtesy_services) {
                    return false;
                }
                const courtesy_service = courtesy_services.find(({ service_id: courtesy_service_id}) => courtesy_service_id == service_id);
                return courtesy_service ? true : false;
            },
        }
    }
</script>
