<template>
<div>
    <div class="form-group">
        <div class="col-sm-4">
            <strong>Folio:</strong> {{ sale_global.folio }}
        </div>
        <div class="col-sm-4">
            <strong>Fecha y hora:</strong> {{ sale_global.created_at }}
        </div>
        <div class="col-sm-4">
            <strong>Total:</strong> $ {{ getTotal() }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <strong>Cambio:</strong> $ {{ getChange() }}
        </div>
        <div class="col-sm-4">
            <strong>Sucursal:</strong> {{ sale_global.subsidiary.name }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <strong>Cliente:</strong>
        </div>
        <span id="customer_name" class="col-sm-3"> {{ sale_global.customer.name }} </span>
        <input type="button" class="btn btn-primary col-sm-1" id="show_customer_name" value="Seleccionar" @click="showCustomerFilter()" />
        <div class="col-sm-4" id="customer_id_container" hidden>
            <select name="customer_id" id="customer_id" v-model="sale_global.customer_id" class="customer_id form-control">
                <option :value="sale_global.customer_id">{{ sale_global.customer_id }}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <strong>Barbero:</strong>
        </div>
        <div class="col-sm-4">
            <select name="employee_id" id="employee_id" class="select2 form-control" v-model="sale_global.employee_id">
                <option value="0">Seleccionar uno por favor...</option>
                <option v-for="barber in barbers" :key="barber.id" :value="barber.id">{{barber.short_name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <strong>Propina:</strong>
        </div>
        <div class="col-sm-4">
            <input class='form-control' type='number' step='any' min='0' name="tip" id="tip" v-model="sale_global.tip"/>
        </div>
    </div>
    <input class='form-control' type='hidden' name="money_change" id="money_change" v-model="sale_global.money_change"/>
    <div class="form-group">
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="Agregar un tipo de pago" @click="addPayment()"/>
        </div>
    </div>
    <table class="table" v-if="sale_global.payments.length > 0">
        <thead>
            <tr>
                <th>Tipo de pago</th>
                <th>Moneda</th>
                <th>Cantidad</th>
                <th>Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(payment, index) in sale_global.payments" :key="payment.id">
                <input type="hidden" name="payment_ids[]" :value="payment.id"/>
                <td>
                    <select class="form-control" name="methods[]" v-model="payment.method">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta</option>
                        <option value="Monedero">Monedero</option>
                        <!--<option value="Cortesia">Cortesia</option>-->
                    </select>
                </td>
                <td>
                    <select class="form-control" name="coins[]" v-model="payment.coin">
                        <option value="mxn">mxn</option>
                        <option value="usd">usd</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="0" step="any" name="totals[]" class="form-control" v-model="payment.total">
                </td>
                <td>
                    <input v-if="payment.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removePayment(index, payment.id)">
                    <!--<input v-if="payment.id != 0" type="button" class="btn btn-danger" value="Cancelar" @click="deletePayment(index, payment.id)">-->
                </td>
            </tr>
        </tbody>
    </table>
     <div class="form-group">
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="Agregar producto" @click="addProduct()"/>
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="Agregar servicio" @click="addService()"/>
        </div>
    </div>
    <table class="table" v-if="sale_global.products.length > 0 || sale_global.services.length > 0">
        <thead>
            <tr>
                <th>Producto/Servicio</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th colspan="2">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(saleproduct, index) in sale_global.products" :key="saleproduct.id">
                <td>
                    <input type="hidden" name="saleproduct_ids[]" :value="saleproduct.id"/>
                    <select name="product_ids[]" @change="setNewProduct(index, saleproduct.product_id)" class="form-control" style="width:90%;" v-model="saleproduct.product_id">
                        <option value="0">Seleccionar uno por favor...</option>
                        <option v-for="product in products" :key="product.id" :value="product.id">{{product.name}}</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="1" step="any" name="product_qtys[]" class="form-control" v-model="saleproduct.qty">
                </td>
                <td>
                    $ {{ saleproduct.price }}
                </td>
                <td>
                    $ {{ saleproduct.qty * saleproduct.price }}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Motivo de cancelación" v-model="saleproduct.canceled_description">
                </td>
                <td>
                    <input v-if="saleproduct.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removeProduct(index, saleproduct)">
                    <input v-if="saleproduct.id != 0" type="button" class="btn btn-danger" value="Cancelar" @click="deleteProduct(index, saleproduct)">
                </td>
            </tr>
            <tr v-for="(saleservice, index) in sale_global.services" :key="saleservice.id">
                <td>
                    <input type="hidden" name="saleservice_ids[]" :value="saleservice.id"/>
                    <select name="service_ids[]" @change="setNewService(index, saleservice.service_id)" class="form-control" style="width:90%;" v-model="saleservice.service_id">
                        <option value="0">Seleccionar uno por favor...</option>
                        <option v-for="service in services" :key="service.id" :value="service.id">{{service.name}}</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="1" step="any" name="service_qtys[]" class="form-control" v-model="saleservice.qty">
                </td>
                <td>
                    $ {{ saleservice.price }}
                </td>
                <td>
                    $ {{ saleservice.qty * saleservice.price }}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Motivo de cancelación" v-model="saleservice.canceled_description">
                </td>
                <td>
                    <input v-if="saleservice.id == 0" type="button" class="btn btn-danger" value="Cancelar" @click="removeService(index, saleservice)">
                    <input v-if="saleservice.id != 0" type="button" class="btn btn-danger" value="Cancelar" @click="deleteService(index, saleservice)">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>$ {{ getTotal() }}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-8 col-sm-6">
            <input type="button" class="btn btn-primary" @click="validate()" value="Guardar">
        </div>
    </div>

</div>
</template>
<script>
    import Vue from 'vue'
    import VueSwal from 'vue-swal'
    Vue.use(VueSwal);

    export default {
        props: ['sale', 'barbers', 'products', 'services'],
        data() {
            return {
                'sale_global': null,
            };
        },
        created: function () {
            this.sale_global = this.sale;
            $("#customer_id_container span").css("width","100%");
            $("#customer_id").val(this.sale_global.customer_id);
        },
        methods: {
            showCustomerFilter() {
                $("#customer_id_container").show();
                $("#customer_name").hide();
                $("#show_customer_name").hide();
                $(".select2-container--default").css("width","100%");
            },
            hideCustomerFilter() {
                $("#customer_id_container").hide();
                $("#customer_name").show();
                $("#show_customer_name").show();
            },
            addPayment () {
                if(this.sale_global.payments.length < 3) {
                    // console.log(this.sale_global.payments);
                    this.sale_global.payments.push({
                        id : 0,
                        method : "Efectivo",
                        total: 0,
                        sale_id: this.sale_global.id,
                        coin: "mxn",
                        cash_register_id: this.sale_global.cash_register_id
                    });
                }
            },
            removePayment(index, id) {
                this.$swal({
                    title: "Desea eliminar el pago?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.payments.splice(index, 1);
                        swal("El pago ha sido eliminado", { icon: "success", });
                    }
                });
            },
            deletePayment(index, id) {
                this.$swal({
                    title: "Desea eliminar el pago?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.payments.splice(index, 1);
                        swal("El pago ha sido eliminado", { icon: "success", });
                    }
                });
            },
            removeProduct(index, saleproduct) {
                this.$swal({
                    title: "Desea eliminar el producto?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.products.splice(index, 1);
                        swal("El producto ha sido eliminado", { icon: "success", });
                    }
                });
            },
            deleteProduct(index, saleproduct) {
                if(!saleproduct.canceled_description) {
                    this.$swal("Ocurrió un error al eliminar el servicio", "Debe escribir el motivo de cancelacion", { icon: "error" });
                } else {
                    this.$swal({
                        title: "Desea eliminar el producto?",
                        text: "Si lo elimina, no podrá recuperarlo",
                        icon: "warning",
                        type: "input",
                        buttons: true,
                        dangerMode: true
                    })
                    .then((willDelete) => {
                        if (willDelete) {

                            let headers = {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            };

                            this.$http.post('/home/sales/' + this.sale_global.id + '/products/' + saleproduct.id + '/destroy', saleproduct, {headers})
                            .then(function (response){
                                this.sale_global.products.splice(index, 1);
                                this.$swal("El producto ha sido eliminado", { icon: "success", });
                            },function (error) {
                                this.$swal("Ocurrió un error al eliminar el producto", error.data,message, { icon: "error" });
                            });
                        }
                    });
                }
            },
            removeService(index, saleservice) {
                this.$swal({
                    title: "Desea eliminar el servicio?",
                    text: "Si lo elimina, no podrá recuperarlo",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        this.sale_global.services.splice(index, 1);
                        swal("El servicio ha sido eliminado", { icon: "success", });
                    }
                });
            },
            deleteService(index, saleservice) {
                if(!saleservice.canceled_description) {
                    this.$swal("Ocurrió un error al eliminar el servicio", "Debe escribir el motivo de cancelación", { icon: "error" });
                } else {
                    this.$swal({
                        title: "Desea eliminar el servicio?",
                        text: "Si lo elimina, no podrá recuperarlo",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {

                            let headers = {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            };

                            this.$http.post('/home/sales/' + this.sale_global.id + '/services/' + saleservice.id + '/destroy', saleservice, {headers})
                            .then(function (response){
                                this.sale_global.services.splice(index, 1);
                                this.$swal("El servicio ha sido eliminado", { icon: "success", });
                            },function (error) {
                                this.$swal("Ocurrió un error al eliminar el servicio", error.data,message, { icon: "error" });
                            });
                        }
                    });
                }
            },
            totalServices () {
                const { services } = this.sale_global;
                return services.reduce((prevValue, { qty, price }) => prevValue += qty * price, 0);
            },
            totalProducts () {
                const { products } = this.sale_global;
                return products.reduce((prevValue, { qty, price }) => prevValue += qty * price, 0);
            },
            getTotal() {
                return this.totalProducts() + this.totalServices() + parseFloat(this.sale_global.tip);
            },
            getPaymentsTotal() {
                var total = 0;
                for (var i = 0; i < this.sale_global.payments.length; i++) {
                    total += parseFloat(this.sale_global.payments[i].total);
                }
                return total;
            },
            getChange() {
                const change = this.getPaymentsTotal() - this.getTotal();
                this.sale_global.money_change = change;
                return change;
            },
            addProduct() {
                this.sale_global.products.push({
                    id : 0,
                    qty: 1,
                    product_id : this.products[0].id,
                    sale_id: this.sale_global.id,
                    disabled: 0,
                    disable_by: null,
                    price: this.products[0].sell_price,
                    has_promotion: 0,
                    original_price: this.products[0].sell_price,
                    cost: this.products[0].cost,
                    product: this.products[0]
                });
            },
            addService() {
                this.sale_global.services.push({
                    id : 0,
                    qty: 1,
                    service_id : this.services[0].id,
                    sale_id: this.sale_global.id,
                    disabled: 0,
                    disable_by: null,
                    price: this.currentServicePrice(this.services[0]),
                    has_promotion: 0,
                    original_price: this.services[0].sell_price,
                    cost: this.services[0].cost,
                    service: this.services[0]
                });
            },
            setNewService(index, id) {
                for (var i = 0; i < this.services.length; i++) {
                    if(id == this.services[i].id) {
                        this.sale_global.services[index].service = this.services[i];
                        this.sale_global.services[index].price = this.currentServicePrice(this.services[i]);
                        this.sale_global.services[index].cost = this.services[i].cost;
                    }
                }
            },
            setNewProduct(index, id) {
                for (var i = 0; i < this.products.length; i++) {
                    if(id == this.products[i].id) {
                        this.sale_global.products[index].product = this.products[i];
                        this.sale_global.products[index].price = this.products[i].sell_price;
                        this.sale_global.products[index].cost = this.products[i].cost;
                    }
                }
            },
            currentServicePrice(service) {
                for (var i = service.subsidiary_prices.length - 1; i >= 0; i--) {
                    const servicePrice = service.subsidiary_prices[i];
                    if(servicePrice.subsidiary_id == this.sale_global.subsidiary_id) {
                        return servicePrice.price;
                    }
                }
                return service.sell_price;
            },
            validate() {

                const { has_discount, has_birthday, kids_promotion, is_courtesy, is_promo_ut } = this.sale_global;

                if(!has_discount && !has_birthday && !kids_promotion && !is_courtesy && !is_promo_ut) {
                    const payments_total = this.getPaymentsTotal();
                    // if(payments_total != this.getTotal()) {
                    //     swal("El total de los pagos debe coincidir con el total de los productos/servicios y la propina", { icon: "error" });
                    //     return false;
                    // }
                }
                $("#submit").submit();
            }
        }
    }
</script>
