
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// @import './custom.scss';
// $custom-control-indicator-size: 1.8rem;

// $font-size-base: 1.4rem;
// $padding-small-vertical: 1rem;
// $padding-base-vertical: 2rem;
// $padding-large-vertical: 3rem;

// $custom-control-indicator-size: 1rem;

// $navbar-height: 1.5rem;
// $element-height: 1rem;
// $line-height-computed: 1rem;

// $modal-inner-padding: 1rem;

// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';

body {
  padding-top: 80px;
}

.btn-clock {
    position: fixed;
    bottom: 100px;
    left: 100px;
    border-radius: 50%;
}

.btn-shop {
    position: fixed;
    bottom: 150px;
    left: 100px;
    border-radius: 50%;
}

.danger-animation {
  animation-duration: 1s;
  animation-name: titile;
  animation-iteration-count: infinite;
}

.d-flex {
  display: flex !important;
}

.ml-auto {
  margin-left: auto !important;
}

.select2-container {
  max-width: 100%;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}

.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}

@keyframes titile {
  from {
    color: #333333;
    background-color: #fff;
    border-color: #d3e0e9;
  }

  to {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.show-in-print {
  display: none;
}

@media print {
  .show-in-print {
    display: block;
  }
  .hide-in-print {
    display: none;
  }
}

.table-scroll {
  > thead > tr {
    display: block;
  }
  > tbody {
    max-height: 400px;
    overflow: auto;
    display: block;
  }
}

.display-none {
  display: none;
}

.navbar-nav > li > a, .navbar-brand, .hamburger {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #a4aaae;
}
.navbar-nav > li > a {
    cursor: pointer;
    font-weight: 400;
}
.navbar-icon {
    padding-top: 3px;
    position: relative;
    .icon {
        font-size: 21px;
    }
}
.custom-nav-profile-picture {
    border: 2px solid #d3e0e9;
    border-radius: 50%;
    padding: 2px;
    height: 50px;
    width: 50px;
}

.panel-flush .panel-body, .panel-flush .panel-header {
    padding: 0;
}

.custom-stacked-pills li a:active, 
.custom-stacked-pills li a:hover, 
.custom-stacked-pills li a:link, 
.custom-stacked-pills li a:visited {
    background-color: white;
}
.custom-stacked-pills li.active a {
    border-left: 3px solid #3097D1;
}
.nav > li > a {
    position: relative;
    padding: 10px 10px;
}
.custom-stacked-pills a {
    border-bottom: 1px solid #e4ecf2;
    border-left: 3px solid transparent;
    color: #636b6f;
}

.tab-content {
    padding: 10px;
    border-top: 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }  
  .sale-detail {
    width: 90%;
  }
}


.emoji {
    width: 20%;
    text-align: center;
    &.checked label{
        font-weight: bold;
        font-size: 18px;
    } 
    input[type="radio"]:checked + label{
        font-weight: bold;
        font-size: 18px;
    } 
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 40px;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}

.badge-error {
  background-color: red;
}
.badge-error:hover {
  background-color: red;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.dropdown-menu {
  z-index: 10000;
}

.index-edit-button {
  padding: 6px 0px;
}

.index-edit-button-container {
  padding-left: 5px;
  padding-right: 5px;
}

.index-delete-button {
  padding: 3px 6px; 
  padding-left: 0px;
}

.index-delete-button-container {
  padding-left: 10px;
}

.sale-detail {
  max-width: 1050px;
}

.vdp-datepicker .input-group {
  width: 100%;
}

.vdp-datepicker input {
  background: white !important;
}

.services-table {
  .row {
    border-top: 1px solid lightgray;
    margin: 5px;
  }
}