// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

header {
    background-color: darken(#4B1900, 4);
    padding: 20px 40px;
    .title {
        color: white;
        margin-top: 15px;
        font-size: 30px;
    }
    img {
        width: 60px;
    }
    @media( min-width: 737px) {
        margin-bottom: 20px;
        .title {
            color: white;
            margin-top: 80px;
            font-size: 36px;
        }
        img {
            width: 80px;
        }
    }
}

.panel {
    margin-bottom: 10px;
    .panel-heading {
        label h2 {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media( min-width: 737px) {
        margin-bottom: 22px;
        .panel-heading {
            label h2 {
                font-size: 30px;
                margin-top: 22px;
                margin-bottom: 11px;
            }
        }
    }
}

.container {
    &.mid-width {
        width: 80%;
    }
    &.main-content {

    }
}
.emoji {
    width: 20%;
    text-align: center;
    &.checked label{
        font-weight: bold;
        font-size: 18px;
    } 
    input[type="radio"]:checked + label{
        font-weight: bold;
        font-size: 18px;
    } 
}
.check{
    position: relative;
    .checkmark {
        position: absolute;
        font-size: 200px;
        top: -105px;
        width: 100%;
    }
} 
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 40px;
}

.display-none {
    display: none;
}